#wrapper {
    #breadcrumb {
        background-color: $breadcrumb_bg_color;
        h1 {
            margin-top:0px;
            margin-bottom:0px;
            padding-top:10px;
        }
        ol {
            background-color: $breadcrumb_bg_color;
            padding-left:0px;
            li:not(:first-child)::before {
                content: "\00bb\00a0";
                padding-left:5px;
            }
        }
    }
}
