/* -------------------------- Breadcrumb Style -------------------------- */
/* Bread Crumb Paragraphs */

//Mobile Style for Breadcrumb

@media(max-width:$screen-sm-min){
    .breadcrumb-container h1, .breadcrumb-container h2, .breadcrumb-container h3 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .breadcrumb{
        margin-bottom: 0;
    }
    
    .breadcrumb-container{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .breadcrumb-inner-container  h1, .breadcrumb-inner-container  h2, .breadcrumb-inner-container  h3 {
        letter-spacing: 0;
        font-size: 22px;
        color: #fff;
    }
}

/* Bread Crumb Headings */

.breadcrumb-inner-container  h1, .breadcrumb-inner-container  h2, .breadcrumb-inner-container  h3 {
    letter-spacing: 0;
    font-size: 34px;
    color: #fff;
}

/* Bread Crumb Ordered List Style */

// Active Colour
ol.breadcrumb > li.active {
    color: $navbar-text-color;
     
}
ol.breadcrumb li {
  font-size: 14px;
}

ol.breadcrumb > li + li:before {
  content: "\00bb\00a0";
}

ol.breadcrumb {
    background: transparent;
    border: 0;
    border-radius: 0;
    display: block;
    padding: 0;
    margin-bottom: 0;
}
ol.breadcrumb li a {
    color: #fff;
}

ol.breadcrumb span {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
    color: $breadcrumb-span-color;
    opacity: .5;
}

ol.breadcrumb li.active span {
    opacity: 1;
}
ol.breadcrumb li span:hover {
    opacity: 1;
}


/* Bread Crumb Container */

.breadcrumb-container{
    background-color: $breadcrumb-background-color;
    padding-top: 10px;
    padding-bottom: 10px;
}

.breadcrumb-container > p {
    color: #fff;
}

.breadcrumb-inner-container h1, .breadcrumb-inner-container h2, .breadcrumb-inner-container h3{
    color: $breadcrumb-title-color;
}





