#flow_wrapper {
    .row {
        padding: $flow_row_padding 0;
        &.background_image_row {
            overflow: hidden;
            position: relative;
            .header_background_image {
                position: absolute;
                object-fit: cover;
                height: 100%;
                width: 100%;
                filter: brightness(0.6);
            }
        }
    }
    .blocks {
        .card {
            &.background_image {
                img {
                    filter: brightness(0.6);
                    height: 100%;
                }
            }
            .card-img-top {
                height: 150px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
