.sub-footer {
    background-color: $sub-footer-color;
    padding-top: 40px;
    padding-bottom:30px;
}

#footer .col-md-6.company-footer-bottom a {
    color: $footer-text-color;
}

#footer .col-md-6.company-footer-bottom a:hover {
    color: $brand-primary;
}
// 
#footer a.footer-element {
    color: $footer-text-color;
}
#footer a.footer-element:hover {
    color: $brand-primary;
}

#content-container > div.row.sub-footer{
    margin-top: 20px;
}
input#mc-embedded-subscribe {
    color: #fff;
    background-color: #717171;
    border-color: #95989A;
}
  input#mc-embedded-subscribe:hover{
    color: #fff;
  }

div.row.sub-footer > div.container {
    padding: 0;
}

footer {
 background-color: $footer-bg-color;
 height:auto;
 color: $footer-text-color;
 padding:20px;
 font-size: 16px;
 }

footer a{
    color: $footer-text-color;
    font-size: 14px;
}
footer h3 {
    font-size: 14px;
    font-weight:700;
}
footer a:hover{
    color: $brand-primary;
    text-decoration: none;
    transition: color .5s ease;
   -moz-transition: color .5s ease;
   -webkit-transition: color .5s ease;
}

footer b a {
    color: $brand-primary;
}
footer b a:hover{
    color: $brand-primary;
}

.footer-bottom {
    height:40px;
    line-height: 29px;
    background-color: darken($brand-primary, 20%);
    color: #FFF;
}


.footer-strip{
    background-color: $footer-bg-color;
    border-top: 1px $brand-primary solid;
}
div.row.footer-strip > div > div.pull-right > ul {
    background-color: $gray-darker;
}
div.row.footer-strip > div > div.pull-right > ul a {
    color: $footer-text-color;
}
div.row.footer-strip > div > div.pull-right > ul a:hover{
    color: $brand-primary;
    transition: color .5s ease;
   -moz-transition: color .5s ease;
   -webkit-transition: color .5s ease;
}
.footer-strip .container div {
    height:auto;
    line-height: 50px;
    color: $footer-text-color;
}
.coloured-bp{
    color: $brand-primary;
}
.main-footer-content{
        margin-bottom: 10px;
}

.footer-logo {
    display:block;
    max-width: 100px;
    height: auto;
}

.company-footer-bottom {
    padding-left: 0px;
}
.company-footer-bottom .container {
    padding-left: 0px;
}

.social-footer-bottom{
    padding-left: 0px;
}
.social-footer-bottom .container{
    padding-left: 0px;
}

a.btn.btn-social-icon i {
    color: $footer-text-color;
    transition: color 1s ease;
}
a.btn.btn-social-icon:hover i  {
    color: $brand-primary;
    transition: color 1s ease;
}

.company-footer-bottom img.linaro-logo {
     width:40px;
     height:100%;
}
.company-footer-bottom, .company-footer-bottom a{
    color: $footer-text-color;
}
