/* Home Block Slider Style */
@include media-breakpoint-between(xs, sm) {
    #home-block-sliders .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 10px;
        position: relative;
        top: -60px;
    }
}
#home-block-sliders .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: relative;
    top: -60px;
}
@include media-breakpoint-up(sm) {
    .row.activity-holder.center-block {
        height: auto;
    }
}
@import 'carousel-header';
