/* Home Block Slider Style */
@media only screen and (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
    #home-block-sliders .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 10px;
        position: relative;
        top: -60px;
    }
}
#home-block-sliders .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: relative;
    top: -60px;
}
@media(min-width:$screen-sm-min){
    .row.activity-holder.center-block {
        height: auto;
    }
}
@import 'carousel-header';
@import 'triangle-divider';