/* Home Page Jumbotron Div */
div#jumbotron-content {
    text-align: center;
    height: $jumbotron-height;
}
#jumbotron-image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #000, #000);
    opacity: .5;
}
/* Overlay - 60% opacity default */
#jumbotron.overlay {
    background-color: rgba(0, 0, 0, $overlay);
    position: relative;
    z-index: 0;
}
#jumbotron.overlay:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: $jumbotron-height;
    left: 0;
    background-image: linear-gradient(to bottom right, #000, #000);
    opacity: .5;
    width: 100%;
    z-index: -1;
}
div#jumbotron.background-image.bg-up {
    background-position-y: 0px !important;
    background-position-x: center !important;
}
video#jumbotronVideo {    
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    top:0px;
    z-index:-2;
}
div#jumbotron.video {
    height: 600px !important;
}
div#jumbotron.video:before {
    height: 600px !important;
}
div#jumbotron.video h1#jumbotron-heading {
    font-size: 50px;
}
div#jumbotron.video div#jumbotron-content {
    height:600px;
}
div#jumbotron.background-image {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
div.jumbotron-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Jumbotron Sub Title */
#jumbotron-sub-title {
    color: $jumbotron-sub-title-color;
    font-size: $jumbotron-sub-title-font-size;
}
/* Jumbotron Heading */
#jumbotron-heading {
    color: $jumbotron-heading-color;
    font-size: $jumbotron-font-size;
    margin-top: 0px;
}
/* Jumbotron Styles - SM  */
@media(max-width:$screen-sm-min){
    #jumbotron-heading {
        font-size: $jumbotron-font-size-xs;
    }
    #jumbotron-sub-title {
        color: $jumbotron-sub-title-color;
        font-size: $jumbotron-sub-title-font-size-xs;
    }
}
#buttons >  a.btn {
    color: black ;
    font-weight: normal;
    font-size: 12px;
    background-color: white;
}
#buttons >  a.btn:hover {
    color: white ;
    font-weight: normal;
    font-size: 12px;
    background-color: $brand-primary;
}
/* Jumbotron Header */
#jumbotron {
    background: $jumbotron-bottom-color; /* Old browsers */
    background: -moz-linear-gradient(top, $jumbotron-top-color 0%, $jumbotron-bottom-color 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $jumbotron-top-color 0%,$jumbotron-bottom-color 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $jumbotron-top-color 0%, $jumbotron-bottom-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$jumbotron-top-color, endColorstr=$jumbotron-bottom-color,GradientType=0 ); /* IE6-9 */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}
#jumbotron small {
    font-size: 14px;
}