@media(max-width:495px){
    .open-hours-clock {
        zoom: 0.45;
        -moz-transform: scale(0.45);
    }
}
@media(min-width:496px){
    .open-hours-clock {
        zoom: 0.7;
        -moz-transform: scale(0.7);
    }
}
@media(min-width:768px){
    .open-hours-clock {
        zoom: 1;
        -moz-transform: scale(1);
    }
}
@media(min-width:992px){
    .open-hours-clock {
        zoom: 0.7;
        -moz-transform: scale(0.7);
    }
}
@media(min-width:1200px){
    .open-hours-clock {
        zoom: 0.85;
        -moz-transform: scale(0.85);
    }
}


//OpenHours Panel
.openhours-panel {
    background-color: #553c97;
    // background: url(asset_path("openhours-noise.png")) repeat;
    padding:20px;
    color: #fff;
    margin-top: 40px;
}
.openhours-panel a {
    color: #fff;
    text-decoration: underline;
}
.openhours-panel a:hover{
    color: #fff;
    text-decoration: none;
}
.openhours-panel p {
    color: #fff;
}
