.col-item
{
    background: transparent;
    margin: 20px;
}
.specification_block{
    height: 200px;
}

.col-item.photo{
    width: 100%;
    height:100%;
    overflow:hidden;
    display: inline-block;
}

.info {
    margin-bottom:5%;
}
.photo{
    min-height: 175px;
}

#main-container .col-item > div.col-md-12.text-center{
    min-height: 53px;
}

.round-tag{
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 50% 0;
    border: 4px solid #FFF;
    background: #37A12B;
    position: absolute;
    bottom: 0px;
    padding: 15px 6px;
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
}

#main-container div.dropdown-container > ul {
    background-color: rgba(0, 0, 0, 0.8);
}

// .dropdown-menu {
//   position: absolute;
//   top: 100%; /* Bottom of button */
//   right: 0;
//   margin-left: -100px; /* More to the left */
// }

.dropdown-container.btn-group a.btn-read-more {
    width: 60%;
    height:42px;
    transition: all .5s ease;
}

.dropdown-container.btn-group a.btn-read-more:hover {
    background-color:$brand-primary;
    color: white;
    transition: all .5s ease;
}
.dropdown-container.btn-group button.btn-buy {
    width: 40%;
    height: 42px;
    border-radius: 0 20px 20px 0;
    transition:  all .5s ease;
}
.dropdown-container.btn-group button.btn-buy:hover {
    background-color:$brand-primary;
    color: white;
    transition: all .5s ease;
}

.dropdown-container {
    margin-top: 5px;
}

.dropdown-menu.buy-dropup-menu>li>a {
    white-space: normal;
    border-bottom: 1px solid #636363;
    font-size: 15px;
}

.product-short-description {
    min-height: 105px;
    height: auto;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    padding: 10px;
}
.button-icon {
    vertical-align:middle;
    margin-bottom:3px;
}


#collection-image{
    height:90px;
    width: auto;
}

#collection-description{

}

.product-short-description{
    min-height: 117px;
}

#features-list{
    margin-top:2%;
    margin-bottom:2%;
    border:0;
}
#features-list li.list-group-item{
    border-radius: 0;
    border:0 none;
    display: table-row;
}
#features-list li:nth-child(odd){
  border-bottom: 1px black dotted;
}
#features-list li:nth-child(odd) {
    background-color: #f8f8f8;
    border:0;
}
#features-list li a {
    padding:8px;
}
#features-list li.active{
    background-color: white;
    color: black;
    border:0;
}
#feature-key {
    font-size: 16px;
    padding:10px;
    display:table-cell;
    text-transform: uppercase;
}
#feature-value{
    font-size: 20px;
    padding:10px;
    display:table-cell;
    font-style: italic;
}


#specification-button {
    margin-bottom: 5%;
}

.buy-dropup-menu {
    position: absolute;
    right: 0;
}


.filter-list  button.btn:focus,
.filter-list  button.btn:active:focus,
.filter-list  button.btn.active:focus,
.filter-list  button.btn.focus,
.filter-list  button.btn:active.focus,
.filter-list  button.btn.active.focus {
    outline: none;
}
//Accessories

.accessory-image {
    margin-top: 20px;
}
//
// #grid .mix {
//
//     opacity:0;
//     display:none;
// }
#product-image-carousel{
    min-height: 360px;
}
.buy-font-awesome-icon{
    width:15px;
}

.buy-links small {
display: block;
padding: 0px;
margin: 0px;
color: #adadad;
}
.buy-links small span {
background-color: #d0ece7;
padding: 2px 5px;
font-size: 12px;
margin-right: 5px;
color: $brand-primary;
}

.buy-links small a{
  color: #adadad;
}

.product-bottom-panel{
    margin-bottom: 30px;
}


@media(max-width:991px){
    .product-short-description {
        min-height: 0px;
    }
    .product-short-description {
        min-height: 0px;
    }
    .photo {
        min-height: 0px;
    }
}
