div#tabbed_nav_content {
    margin-top:0;
    padding: 10px;
    border-right: 1px solid  #eee;
    border-left: 1px solid #eee;
    border-bottom:1px solid #eee;
    margin-bottom: 20px;
}

#tabbed-nav-bar .nav-tabs > li > a {
    color: black;
}

ul#tabbed_nav > li.active > a:after {
    height: 1px;
    background-color: #fff;
}

ul#tabbed_nav > li.active > a {
    border-bottom: none;
}

ul#tabbed_nav > li > a {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 13px;
}
div#tabbed_nav_content > div.tab-pane {
    margin-top:0;
    padding: 10px
}
ul#tabbed_nav {
    border: 1px solid #eee;
    margin-bottom:0 !important;
}
#tabbed-nav-bar > nav.navbar-inverse {
    background-color: $navbar-inverse-bg;
    height:$navbar-height;
}

#tabbed-nav-bar .navbar-default .navbar-toggle .icon-bar {
    background-color: $brand-primary;
}

// Tabbed Nav bar
/*  -------- Tabbed Content Sections ------- */
.tab-pane {
    background-color: white;
    margin-top: -20px;
    padding: 21px;
    overflow: hidden;
}
.tab-content {
    margin-top: 40px;
}
.nav-tabs > li {
    font-size: 14px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0;
}
.nav-tabs > li > a {

    border: none;
    line-height:40px; //Set the line height to change the size of the tabs.
    font-size: 18px;
}
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none;
}

.nav-tabs > li > a
{
    /* adjust padding for height*/
    padding-top: 4px;
    padding-bottom: 4px;
}
#wrapper li.tabbed-nav-btn {
    border-right: 1px solid #f9f9f9;
    border-left: 1px solid #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
    background-color: $tabbed-nav-bg-color;
    color: $tabbed-nav-text-color;
    text-align:center;
}
#wrapper li.tabbed-nav-btn a {
    color:$tabbed-nav-text-color;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover {
    color: $tabbed-nav-hover-color !important;
}
#wrapper .nav-tabs {
    border-bottom: none;
}
.nav-tabs > li > a::after {
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
    transform: scaleY(2);
}

.tab-row-faq > li {
    height:20px ;
}

.nav-tabs {
    border-bottom: 2px solid $gray;
}

.nav-tabs > li > a {
    color: $navbar-text-color;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    color: black;
    background: transparent;
}
.nav-tabs > li > a::after {
    background: $brand-primary;
}
.tab-nav > li > a::after {
    background: $brand-primary none repeat scroll 0% 0%;
    color: $navbar-text-color;
}
/* Tabbed Nav Bar Mobile Style*/
@media (max-width: $screen-sm) {
    ul#tabbed_nav > li {
        width: 100%;
    }
    ul#tabbed_nav > li > a {
        border:0;
    }
    ul#tabbed_nav > li > a:after {
        height: 1px;
        background-color: #fff;
    }
}
@media(min-width:$screen-sm-min){
    div#tabbed-nav-bar.sticky-nav li.divider {
        border-right: 1px solid $navbar-inverse-bg;
        height: 48px;
        width: 1px;
    }
    div#tabbed-nav-bar.non-sticky-nav li.divider {
        border-right: 2px solid #272727;
    }
}


#tabbed-nav-bar .tabbed-container-fluid {
    background-color: #fff;
}

div#tabbed-nav-bar-collapse {
    padding: 0;
}
@media screen and (max-width: $screen-lg) and (min-width: 0px){
    .sticky-nav#tabbed-nav-bar a.navbar-toggle {
        margin-right: -5px;
    }
}

div#tabbed-nav-bar.non-sticky-nav > .container {
    padding-left: 0px;
    padding-right: 0px;
}

#tabbed-nav-bar .navbar-header {
    margin-left: -15px;
    margin-right: -15px;
    @media(max-width: $screen-sm-min){
        padding-left: 15px;
        padding-right: 0px;
    }
}

div#tabbed-nav-bar.sticky-nav {
    top: 0px;
}
#tabbed-nav-bar .navbar-toggle{
    color:$brand-primary !important;
    margin-right: 0px;
}
@media screen and (max-width: 999px) and (min-width: 987px){
    .sticky-nav#tabbed-nav-bar a.navbar-toggle {
        margin-right: -5px;
    }
}
#sub-navigation-header{
    display:none;
    height:100%;
    font-size: 19px;
    line-height: $navbar-height;
}

#tabbed-nav-bar a#sub-navigation-header {
    color: #000;
    padding: 0px;
}
#tabbed-nav-bar.sticky-nav a#sub-navigation-header{
    color: #000;
}
@media(max-width:$screen-sm-min - 1){
    #tabbed-nav-bar .tabbed-nav-btn{
        width:100%;
    }
    #sub-navigation-header {
        font-size: 14px;
    }
    #tabbed-nav-bar .nav-tabs{
        background-color: $navbar-inverse-bg;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    #tabbed-nav-bar .nav-tabs>li>a::after {
        background: transparent;
    }
    #tabbed-nav-bar .nav-tabs>li>a {
        color: $navbar-text-color;
        font-size: 12px;
        font-weight: bold;
        padding: 10px;
        padding-left: 20px;
        text-transform: uppercase;
        letter-spacing: 0px;
        line-height: 21px;
    
    }
    #tabbed-nav-bar .nav-tabs>li>a:hover {
        color: $brand-primary;
    }

    #tabbed-nav-bar .nav-tabs>li.active>a,
     #tabbed-nav-bar .nav-tabs>li.active>a:hover,
      #tabbed-nav-bar .nav-tabs>li.active>a:focus {
        color: $brand-primary;
        background-color: transparent;
        cursor: default;
    }

    #tabbed-nav-bar {
        z-index:10000;
    }
}
#tabbed-nav-bar .collapse{
    margin-bottom:-1px;
    z-index: 1;
}
#tabbed-nav-bar.non-sticky-nav a.navbar-toggle {
    margin-right: -5px;
}
.sticky-nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    right: 0;
    transition: all 1s ease;
}
@media (max-width: $screen-sm){
    div#tabbed-nav-bar.sticky-nav li.divider {
        border-top: 2px solid #272727;
    }
    div#tabbed-nav-bar.sticky-nav > .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    #tabbed-nav-bar.sticky-nav a#sub-navigation-header {
        padding-left: 5px;
    }
}
// Style for stacked nav
li.side-nav-button {
    border-top: 1px sstackedolid $gray-lighter;
    border-right: 0px;
    border-left: 0px;
    margin-bottom: -3px;
}
li.side-nav-button:first-child {
    border-top: 0px;
}
.nav-pills > li.side-nav-button>a {
    border-radius: 0px;
    font-size: 16px;
}

/* Stacked Nav Icon Div */
.ext-left{
    float:left;
}
.ext-right {
    height: auto;
    vertical-align: middle;
    display: table-cell;
    padding-right: 10px;
    padding-left: 10px;
}
/* Bold the first li in nav-stacked */
ul.nav.nav-pills.nav-stacked li:first-child {
    font-weight: bold;
}
li.side-nav-button:hover > a {
    color: $brand-primary;
}
#wrapper li.side-nav-button a:hover {
    color: black;
}
// Style for sidebar stacked nav sub pages
li.side-nav-button.sub-page a {
    padding-left: 40px;
}

/* Sub Navigation Side Bar Hover Style */
.nav-pills>li.side-nav-button>a:hover {
    color: $navbar-inverse-bg;
}