#wrapper {
    #main-navigation {
        padding-top: $navbar_height_padding;
        padding-bottom: $navbar_height_padding;
    }
    #universal_nav {
        padding-top: $universal_height_padding;
        padding-bottom: $universal_height_padding;
        background-color: $primary;
    }
}
