// Body Style
body {
    background-color: $navbar-inverse-bg;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    height  : 100%;
    overflow: auto;
    font-family: $font-family-sans-serif;
    -webkit-font-smoothing: antialiased;
}
/* ------------ Main Container Style margin accounts for Nav ----------- */
.container-fluid.main{
    overflow-x: hidden;
}
.container-fluid.home{
    overflow-x: hidden;
}
#wrapper .container-fluid {
    background-color: $body-bg;
}
// Iphone Bug Fix
html.ios7 body {
    height: 100%;
    position: fixed;
    width: 100%;
}
.ext-left {
    float: left;
}

.ext-right {
    height: auto;
    vertical-align: middle;
    display: table-cell;
    padding-right: 10px;
    padding-left: 10px;
}
// HTML Style
html {
 height  : 100%;
//  overflow: hidden; Will break the sticky navbar - be warned
}
button.owl-dot {
    background-color: transparent;
    border: 0;
    outline: none;
}
button.owl-prev, button.owl-next {
    outline:  none;
    border: 0;
}
.mc-unsubscribe a {
    position: relative;
    bottom: 0;
    font-size: 12px;
    top: 30px;
    float: right;
    margin-right: 15px;
}
a.btn.btn-primary {
    background-color:#3c3b39;
    color:white;
    border-radius:0px;
    border:0;
}
a.btn.btn-primary:hover {
    background-color:$brand-primary;
}
// Edit me on github buttons
.github-edit {
    background-color: #fff;
}
span.edit-me-on-github-text {
    font-size: 12px;
}
.edit-me-on-github.text-center {
    float: right;
}
i.edit-on-github-icon.icon-github-circled.center-block {
    font-size: 40px;
}
div#github_controls {
    margin: 10px 0;
}
div#github_controls a.btn {
    padding:5px;
    height: 50px;
    background-color: #fff;
    color: #333;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #f0f0f0;

    transition: all 500ms ease;
}

div#github_controls a.btn:hover {
    background-color: #333;
    color: #fff;
}
span.top-text {
    display: block;
    text-transform: uppercase;
}
span.bottom-text {
    display: block;
    font-size: 11px;
}

i.icon-github-circled.center-block {
    font-size: 24px;
}
div#github_controls a#github_home:hover {
    color: #fff;
    background-color:#333;
}
div#github_controls a#github_home {
    background-color: #fff;
    color: #333;    
    transition: all 250ms ease;
}
blockquote {
    padding: 10.5px 21px;
    margin: 0 0 21px;
    font-size: 18.75px;
    border-left: 5px solid $brand-primary;
}
.members-img {
    width: auto;
    height: 100px;
    object-fit: contain;
}
//Form Styles
label.error.valid {
    color: #3c763d;
}
label.error {
    padding: 5px;
    color: #a94442;
}
label.control-label {
    margin: 0;
}

//Search Page
#searchIframe {
    border:none;
    top: -60px;
    height: 1000px;
}
#searchEmbed {
        margin-bottom: 20px;
        display:block;
        overflow: auto;
}
/* --------------- Text Selection -------------------*/
::selection {
  background: $brand-primary; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: $brand-primary; /* Gecko Browsers */
  color: #fff;
}


//Headings
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
    line-height: 1.1;
    color: inherit;
    font-weight: bold;
}

//Horizontal Rule Styling
hr {
    border-top: 1px solid #eee;
}

// Anchors
a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

//Move the contact-thanks div up
div#contact-thanks {
    margin-top: -20px;
}

/*-------------Paragraphs --------------------*/
p {
    font-size: 16px;
    color: #252525;
    line-height: 1.66em;
    word-wrap: break-word;
}

.container-fluid p.justify {
    font-size: 16px;
    text-align: justify;
    line-height: 1.66em;
}

.container-fluid h2 {
    font-size: 30px;
    color: #3D383E;
    font-weight: 200;
    text-transform: none;
}
/* Padded Para */
.padded-para{
    padding:20px;
}
/* Spaced Paragraph */
#spaced-para{
    font-size: 18px;
    line-height: 40px;
}
/* Justified Paragraph */
p .justified{
    text-align: justify;
    text-justify: inter-word;
}
/* Shape Divider - Home Page */
.row.shape-divider {
    background-color: $brand-primary;    
}
// Not for breadcrumb / nav / footer
.container-fluid ul { font-size:18px; }
.container-fluid ol { font-size: 18px;}
// Padded row css
.padded-row {
    padding: 100px 0;
}
//Homepage Sub Tag
p.sub-tag {
    width: 65%;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 19px;
    color: #FFF;
}

// Buttons
#buttons > a
{
    background: transparent;
    color: $navbar-text-color;
    border-color: $navbar-text-color;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px 16px;
    font-size: 15px;
    line-height: 1.3333333;
    transition: all 500ms ease;
}
#buttons > a:hover
{
    background: $navbar-text-color;
    color: $navbar-inverse-bg;
    border-color: $navbar-text-color;
}

//Bottom Border Five Pixels.
.bottom-border-five{ margin-bottom: 5px; }

//Alternate row for theme
.alternate-row {
    background-color: #E5E5E5;
    padding: 40px 0;
}

.small-img{
    height:100px;
    width:auto;
}

@media (min-width: $screen-md) {
    .partners-panel {
        margin-top:80px;
    }
    .margin-image {
        padding:40px;
    }

}

.margin-top { margin-top: 40px;}

.panel-body.members-panel-body {
    margin-top: 0;
    border: 0;
}
.new-panel .panel-primary > .panel-heading {
    color: #000000;
    background-color: transparent;
    border:0;
}

// Iframe for Search page.
#searchIframe {
    border:none;
}

//Vertical Center
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

//Contact Hero Banner
.contact-hero{
    height:200px;
    line-height: 200px;
    text-align: center;
    font-size:18px;
    color: #fff;
    background: url() repeat;
}

//----------BOOTSTRAP STYLES ----------------

.panel-primary {
    border:0;
}

// Bootstrap Glyphicon Override.
.glyphicon {
    width: 14px;
    height: 14px;
}
//Remove button focus
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
}

@media(max-width:$screen-sm-min){
    .partners-panel {
        height: auto;
    }
}


// Cookie Consent Setup

a.cc-link {
    color: $cookie-consent-text !important;
}

//Mailchimp
button#mc-embedded-subscribe {
    background-color: $navbar-inverse-bg;
    color: $navbar-text-color;
    transition: all 1s ease;
}
button#mc-embedded-subscribe:hover {
    background-color: lighten($footer-bg-color, 20%);
    color: $navbar-text-color;
    transition: all 1s ease;
}

.coloured-bp{
    color: $brand-primary;
    font-size:12px;
}


// Padding Classes

.no-padding-left {
    padding-left: 0;
}

.no-padding {
    padding: 0;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}


//Cognito Forms
//Submit Button
button#c-submit-button {
    background-color: $brand-primary;
    border: 1px solid black;
}

.c-forms-form-title {
    display: none;
}


//Style for search
#searchEmbed {
    margin-bottom: 20px;
    display:block;
    overflow: auto;
}


@media (max-width: $screen-md-min){
    h1#home-page-title {
        font-size: 25px;
    }
    //Remove the padding from columns on mobile views
    .container-fluid .col-md-3, .container-fluid .col-md-9 {
        padding-left:0;
        padding-right:0;
    }
}

//Remove italics from icons - Google Chrome.

i {
    font-style: normal;
}

/* ----------------- Missing Bootstrap 3 5ths Columns -----------------*/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: $screen-xs-min) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: $screen-sm-min) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: $screen-md-min) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/*--------------------- Mailchimp Newsletter --------------------*/
input#mce-EMAIL {
    border: 0!important;
    border-radius: 0 !important;
    margin-bottom: 10px;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

}

input#mce-FNAME {
    border: 0!important;
    border-radius: 0 !important;
    margin-bottom: 10px;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

input#mce-LNAME {
    border: 0!important;
    border-radius: 0 !important;
    margin-bottom: 10px;
    outline: none;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

button#mc-embedded-subscribe {
    border:0;
    border-radius:0;
    background-color: $brand-primary;
    color: white;
    transition: all 200ms ease;
}

button#mc-embedded-subscribe:hover{
    background-color: #252525;
    color: white;
    transition: all 200ms ease;
}

/* Repsonsive Media Embed */
.embed-responsive-16by9 {
    padding-bottom: 56.25%;
    margin-bottom: 25px;
}

/* Right Aligned Image*/
img.img-responsive.right-aligned-image {
    float: right;
    width: 30%;
    margin: 30px;
}

@media(max-width:$screen-xs-min){
    
    /* Mobile Screens - Right Aligned Images */
    img.img-responsive.right-aligned-image.lazyloaded {
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -9px;
        margin-bottom: -15px;
    }
    
}

/* Wordpress Styles */
.container-fluid blockquote, .container-fluid code, .container-fluid dl, .container-fluid fieldset,
.container-fluid p, .container-fluid pre, .container-fluid table{
    margin-bottom: 25px;
}

#tabbed-nav-bar {
    margin-bottom: 25px;
}

div#tabbed-nav-bar-collapse {
    background-color: white;
}
ul#tab-row {
    margin-bottom: 20px;
}

.container-fluid a:hover {
    text-decoration: none;
    color: darken($brand-primary, 20%);
}

.container-fluid ul {
    color: #252525;
    font-size: 16px;
}

/* Blockquote Styles*/
blockquote{
    background-color: #f6f6f6;
}

blockquote:before {
    position: relative;
    background-image:url('data:image/svg+xml; utf8, <svg class="mk-svg-icon" xmlns="http://www.w3.org/2000/svg" fill="#ddd" viewBox="0 0 1664 1792"><path d="M768 960v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136zm896 0v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136z"></path></svg>');
    content: "";
    display: block;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 35px;
}
#content-container{
    padding-top:20px;
}
/* VCenter Img*/
.vcenter-img {
    display: inline-block;
    vertical-align: middle;
    height: 110px;
}

#wrapper {
    overflow-x: hidden;
}

.container-fluid h1 {
    font-size: 36px;
    margin-top: 0;
}

.container-fluid h1, .container-fluid h2, .container-fluid h3, .container-fluid h4, .container-fluid h5 {
    color: #393836;
}

/* Bootstrap Panels*/
.container-fluid .panel-body {
    padding: 0;
    border-radius: 0;
}

.container-fluid .panel.panel-primary {
    padding: 0;
    border-radius: 0px;
}

.container-fluid .panel-heading {
    border-radius: 0px;
    border: 1px solid $brand-primary;
}

.container-fluid h3.panel-title {
    color: $navbar-text-color;
}

ul {
    font-size: 16px;
}
// FlexBox
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flex-container {
    display: flex;
}
// Email Button
.container-fluid .email {
    height: 50px;
    background-color: $brand-primary;
    width: 200px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid #9e9e9e;
    margin-left: auto;
    margin-right: auto;
    transition: all 200ms ease;
}
.container-fluid .email:hover {
    background-color: #3a3a3a;
    border: 1px solid #000000;
    color:white;
}
