.big-triangle {
    z-index: -1;
    position: relative;
    &:after, &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 50%;
        z-index: 100;
        border-bottom: 160px solid $triangle-divider-bg-color;
        -moz-transform: rotate(0.000001deg);
        -webkit-transform: rotate(0.000001deg);
        -o-transform: rotate(0.000001deg);
        -ms-transform: rotate(0.000001deg);
        transform: rotate(0.000001deg);
    }
    &:before {
        right: 50%;
        border-right: 1500px solid transparent;
        border-left: 1500px solid;
    }
    &:after {
        left: 50%;
        border-left: 1500px solid transparent;
        border-right: 1500px solid;
    }
}