<footer>
    <div class="container-fluid">
        <div class="row strip p-t-20 p-b-20">
            <div class="container">
                <div class="row">
                    <div class="col col-12 text-center">
                        {% include components/github_edit.html pagePath=page.path pagePermalink=page.permalink %}
                    </div>
                    <div class="col col-12 text-white text-center">
                        <span class="copyright">Copyright &copy; {{ 'now' | date: "%Y" }} {{site.data.footer.copyright_text}}</span>
                        {% for link in site.data.footer.company_links %}
                            <span class="coloured-bp">&bull;</span>
                            <a href="{{link.url}}">{{link.name}}</a>
                        {% endfor %}
                        {% include_cached social_media_icons.html %}
                    </div>
                    {% if site.data.footer.footer_brand %}
                    <div class="col col-12  text-white text-center m-t-10">
                        <a href="{{site.url}}/">
                            <img src="{{site.data.footer.footer_brand.logo}}" class="footer-logo mx-auto"
                                alt="{{site.name}} Logo" />
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>
