//ARM HPC
.row.no-padding.arm-hpc-row {
    background-color: #2b2130;
}
.row.no-padding.arm-hpc-row.top {
    margin-bottom: 30px;
}
.row.no-padding.arm-hpc-row.bottom {
    margin-top: 30px;
}

.alert.alert-arm-hpc {
    background-color: #dff2fe;
}