.col-sm-9.session-info {
    border-top: 1px solid #eee;
    padding-top: 25px;
}

.col-sm-3.speaker-info {
    border-top: 1px solid #eee;
    padding-top: 25px;
}

.arm-hpc-session:nth-child(even)
{
    background-color: #f5faff;

}
.arm-hpc-session
{
    overflow: auto;
}

p.talk-abstract {
    margin-top: 12px;
}

h1#featured-image-blog-title {
    color: white !important;
    margin-bottom: 50px;
    padding-top: 40px;
}

.row.blog_content_area.main-cont {
    padding-top: 20px;
} 

.speakers-arm-hpc p.list-group-item-text {
    margin-bottom: 0px !important;
}

.blog-author-image{
    background-position: center center;
}

@media(max-width:767px){
    .blog-author-image {
        height: 50px;
        width: 50px;
    }
}
