
@media (max-width: 767px) {
    ul#tabbed_nav > li {
        width: 100%;
    }
    ul#tabbed_nav > li > a {
        border:0;
    }
    ul#tabbed_nav > li > a:after {
        height: 1px;
        background-color: #fff;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #home-block-sliders .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 10px;
        position: relative;
        top: -60px;
    }
}

@media(min-width:992px){
    .row.activity-holder.center-block {
        height: auto;
    }
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
    margin-bottom: 25px;
}

article.post-content {
    overflow: auto;
}

article.post-content > .col-md-8 {
    padding: 0;
}
article.post-content > .col-md-4 {
    padding: 15px;
}


@media (max-width: 767px) {
    
    
    article.post-content > .col-md-4 {
        padding: 0px;
    }
    
    
    a.left.carousel-control {
        display: none;
    }
    a.right.carousel-control{
        display: none;
    }
    #main-container .members-links {
        padding: 0;
    }
    .col-md-12.members-panel {
        padding: 0;
    }
    .panel-body.members-panel-body {
        padding: 0;
    }
    .col-sm-3.members_link {
        height: 45px;
        line-height: 45px;
        padding: 0;
        padding-left: 5px;
    }

}

//Smallest mobile view
@media(max-width:767px){
    
    article.post-content > .col-md-4 {
        padding: 0px;
    }

    img.img-responsive.right-aligned-image.lazyloaded {
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -9px;
        margin-bottom: -15px;
    }
    .linaro-profile-image {
        float: none;
        margin-left:auto;
        margin-right:auto;
    }
    
    #homepage-jumbotron {
        padding: 20px;
    }
    .carousel-caption.right-caption {
        top: 0;
        margin-top: 47px;
        right:0;
        left:0;
    }
    a.boards-home-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #home-block-sliders .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 10px;
        position: relative;
        top: -60px;
    }
}

a.btn.btn-linaro-home {
    border: 2px solid #fff;
    color: #fff !important;
    letter-spacing: 2px;
    border-radius: 1px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 10px;
    margin-right: 5px;
    
    transition: all 500ms ease;
}
a.btn.btn-linaro-home:hover {
    background-color: #fff;
    color: #000 !important;
}

a.btn.btn-linaro-home.dark {
    border: 2px solid #000;
    color: #000 !important;
}
a.btn.btn-linaro-home.dark:hover {
    background-color: #000;
    color: #fff !important;
}

.vcenter-img {
    display: inline-block;
    vertical-align: middle;
    height: 110px;
}

.content-container h3 {
    color: #9758b7 !important;
}
.content-container a h3:hover {
    opacity: .8;
}



.job-openings{
    margin-top:20px;
}

ul#tabbed_nav > li.active > a:after {
    height: 1px;
    background-color: #fff;
}

ul#tabbed_nav > li.active > a {
    border-bottom: none;
}

ul#tabbed_nav > li > a {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 13px;
}


div#tabbed_nav_content {
    margin-top:0;
    padding: 10px;
    border-right: 1px solid  #eee;
    border-left: 1px solid #eee;
    border-bottom:1px solid #eee;
    margin-bottom: 20px;
}

div#tabbed_nav_content > div.tab-pane {
    margin-top:0;
    padding: 10px
}

ul#tabbed_nav {
    border: 1px solid #eee;
    margin-bottom:0 !important;
}




#footer a.footer-element {
    color: #252525;
}
#footer a.footer-element:hover {
    color: #9657c3;
}


.col-md-6.company-footer-bottom {
    font-size: 13px;
}

a.btn.btn-social-icon i {
    color: #252525;
    transition: all 500ms ease;
}
a.btn.btn-social-icon:hover i {
    color: #9657c3;
}

.row.footer-strip {
    border-top-color: #ccc;
}

#footer .col-md-6.company-footer-bottom a {
    color: #252525;
}

#footer .col-md-6.company-footer-bottom a:hover {
    color: #9657c3;
}


//Wordpress style
#main-container blockquote, #main-container code, #main-container dl, #main-container fieldset,
#main-container p, #main-container pre, #main-container table, #main-container ul {
    margin-bottom: 25px;
}


body {
    font-family: Arial !important;
    letter-spacing: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial !important;
    letter-spacing: 0 !important;
}

#main-container a:hover {
    text-decoration: none;
    color: darken($brand-primary, 20%);
}

.content-container ul > li {
    font-size: 16px;
    line-height: 26px;
}

.content-container .c-forms-form-title {
    display: block;
}

blockquote{
    background-color: #f6f6f6;

}
blockquote:before {
    position: relative;
    background-image:url('data:image/svg+xml; utf8, <svg class="mk-svg-icon" xmlns="http://www.w3.org/2000/svg" fill="#ddd" viewBox="0 0 1664 1792"><path d="M768 960v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136zm896 0v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136z"></path></svg>');
    content: "";
    display: block;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 35px;
}

li.side-nav-button:hover > a {
    color: #9758b7;
}

ul.nav.nav-pills.nav-stacked li:first-child {
    font-weight: bold;
}

.content-container ul {
    color: #252525 !important;
    font-size: 16px !important;
}

p {
  color: #252525;
  font-size: 16px;
}

ul {
    font-size: 16px;
}


.container-fluid.content-container {
    padding-top: 20px !important;
}

.content-container h1 {
    color: #393836 !important;
    font-size: 36px !important;
    margin-top: 0;
}

.content-container h1, .content-container h2, .content-container h3, .content-container h4, .content-container h5 {
    color: #393836 !important;
}

.social-col{
    padding-left: 30px;
    padding-right: 30px;
}

span.linaro-green{
    color: #9FCC45;
}

span.connect-blue{
    color: #5990d4;
    line-height: 30px;
}
span.connect-darker-blue{
    color: #5990d4;
    font-weight:bold;
}
.content-container p {
    font-size:16px !important;
    color: #252525 !important;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 5px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

#main-container p.linaro-home-block-text {
    color: #fff;
}


.carousel-inner > .item > div.slider-img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

//Caption divs for home page content on slider
.carousel-caption.top-caption {
    top: 0;
    margin-top: 47px;
}

.carousel-caption.right-caption {
    top: 0;
    margin-top: 47px;
    right:-100px;
}

a.linaro-home-button {
    padding: 5px;
    opacity: .8;
    color: #fff;
    width: 140px;
    height:50px;
    line-height:17px;
    font-size: 10px;
    height: auto;
    letter-spacing: 2px;
    background-color: transparent;
    border-radius:2px;
    border: 1px solid #fff;
    transition: all 200ms ease;
    display: inline-block;
    margin:10px;
}

a.linaro-home-button:hover{
    background-color: #fff;
    color: #131313;
    text-decoration: none;
    transition: all 500ms ease;
}

a.connect-button{
    width:100%;
    font-size: 10px;
    background-color: #000;
    color: #fff;
    opacity:.8;
    transition: background-color .5s ease;
}
a.connect-button:hover{
    width:100%;
    font-size: 10px;
    background-color: #fff;
    color: #9FCC45;
    opacity:.8;
    transition: background-color .5s ease;
}

h4.linaro-96boards-logo{
    color:black;
}
h2.linaro-sub-title{
    font-size:40px;
    font-weight:400;
}

a.carousel-control{
    border-radius: 50px;
    border: solid 1px white;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

a.carousel-control span.glyphicon-menu-left {
    top: 12px;
    left: -5px;
}
a.carousel-control span.glyphicon-menu-right {
    top: 12px;
    right: 2px;
}


.slider-img {
    background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5)) no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

div.activity-container {
    border:0 !important;
}

.linaro-home-block{
    width:100%;
    height: 200px;
    font-size:12px;
    color: #fff;
}

.activity-holder .activity-block {
    border:0 !important;
    background: transparent;
}
.activity-block {
    border: 0 !important;
    background: transparent;
    margin-top: 70px;
}

.activity-holder p {
    height: auto;
}

h5.block-title {
    font-size: 10px;
    text-align: left;
    left: 10px;
    top: 10px;
    position: relative;
}

.activity-holder p  {
    height:99px;
}

.boards-linaro-title{
    color:black;
    text-shadow: 0;
}

a.linaro-connect-button{
    background-color: #fff;
    opacity: .8;

}
a.linaro-connect-button:hover{
    background-color: #CCC;
}

a.boards-home-button {
    padding: 5px;
    opacity: .8;
    color: #000;
    width: 140px;
    height:50px;
    line-height:17px;
    font-size: 10px;
    height: auto;
    letter-spacing: 2px;
    background-color: white;
    border-radius:2px;
    text-shadow: none;
    border: 1px solid #000;
    transition: all 200ms ease;
    display: inline-block;
    margin:10px;
}

a.boards-home-button:hover{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: all 500ms ease;
}

.row.activity-holder.center-block {
    height: auto;
}
p.linaro-home-block-text {
    font-size: 14px;
    color: white;
    padding: 40px;
}

p.linaro-home-block-text a{
    color: white;
}
p.linaro-home-block-text a:hover {
    color: white;
    text-decoration: underline;
}
.activity-holder .activity-block {
    border: #fff 3px solid;
    background: transparent !important;
}
.activity-block {
    margin-top: 0px !important;
    background: transparent !important;
}


img.img-responsive.right-aligned-image {
    float: right;
    width: 30%;
    margin: 30px;
}

dl.timeline-dl > dd{
    margin-left: 15px;
}

.about-icon{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid #9758b7;
    padding: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#main-container div.container.board_member {
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid #ccc;
}

#main-container div.container.board_member > div.col-sm-9 {
        padding-left:0;
        padding-right:0;
}

#main-container div.container.board_member > div.col-sm-3 {
        padding-left:0;
        padding-right:0;
}

.linaro-profile-image{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    float:right;
    margin-top:60px;
    background-size: cover;
    background-position: center;
    clear: both;
}

h2.linaro-connect-title{
    color: #5990d4;
    text-shadow: none;
    font-size: 18px;
}

h4.linaro-connect-sub-title{
    color: #5990d4;
    font-weight: 100;
    text-shadow: none;
}

a.connect-home-button {
    padding: 5px;
    opacity: 1;
    font-weight: bold;
    color: #000;
    width: 140px;
    padding: 15px;
    height: 50px;
    line-height: 17px;
    font-size: 10px;
    height: auto;
    letter-spacing: 2px;
    background-color: white;
    border-radius: 4px;
    text-shadow: none;
    transition: all 200ms ease;
    display: inline-block;
    margin: 10px;
    text-decoration: none;

    transition: all 1s ease;
}

a.connect-home-button:hover{
    text-decoration: none;
    color: #000;
    opacity: .8;
    background-color: #ccc;
    transition: all 1s ease;
}

//Linaro SVG Icons
.linaro-svg-icon {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    fill: #ffffff;
    background-color: #a682b8;
    border: 1px solid #9658b7;
    padding: 12px;

    transition: all 500ms ease;
}

.linaro-svg-icon:hover{
    background-color: #9658b7;
    border: 1px solid #a682b8;
}

.linaro-svg-icon-caption {
    text-align: center;
    line-height: 70px;
}


div.dark {
    background: #696969;
}


#main-container p.justify {
    font-size: 16px;
    text-align: justify;
    line-height: 1.66em;
}

.content-container h2 {
    font-size: 30px;
    color: #3D383E;
    font-weight: 200;
    text-transform: none;
}

.ext-left{
    float:left;
}
.ext-right {
    height: auto;
    vertical-align: middle;
    display: table-cell;
    padding-right: 10px;
    padding-left: 10px;
}



// Nav Bar SVG Base Style 
#navbar_svg .cls-1 {
    fill: none;
}

#navbar_svg .cls-2 {
    fill: #666;
}

#navbar_svg .cls-3 {
    fill: #9c3;
}
#navbar_svg .cls-8 {
    fill: #9c3;
}

#navbar_svg .cls-4,
#navbar_svg .cls-5 {
    fill: #c03;
}

#navbar_svg .cls-5 {
    opacity: 0.6;
}

#navbar_svg .cls-6,
#navbar_svg .cls-7 {
    fill: #909;
}

#navbar_svg .cls-7,
#navbar_svg .cls-8 {
    opacity: 0.7;
}




#main-container small.blog-author.text-center > a > em {
    color:white;
    transition: all 500ms linear;
}
#main-container small.blog-author.text-center > a:hover > em {
    color:#a681b8;
}

img.blog-author-image {
    transition: all 100ms linear;
}

a:hover > img.blog-author-image {
    border-color: #d4d4d4;
}



.embed-responsive-16by9 {
    padding-bottom: 56.25%;
    margin-bottom: 25px;
}

article.post-content {
    overflow: auto;
}

article.post-content > .col-md-8 {
    padding: 0;
}




// Navbar App menu Quick style
// 
// .navbar-right {
//     float: right;
// }
// .nav.navbar-nav.navbar-right ul {
//     float: right;
// }
// .nav.navbar-nav.navbar-right li {
//     float: left;
// }
// .navbar-toggle {
//     float: right;
// }
// @media all and (max-width:767px) {
//     .navbar-header {
//         float: left;
//     }
//     
//     .navbar-collapse {
//         clear: both;
//         float: none;
//     }
// }
// 
// div#navbar-collapse {
//     float: right !important;
//     text-align: right;
// }
// 
// ul#navbar-buttons {
//     position: relative;
//     float: right;
// }