#developer-services-content .ext-right {
    height: 80px;
    vertical-align: middle;
    display: table-cell;
}
#developer-services-content ul {
    font-size: 16px !important;
}
a.btn.btn-contact-developer-services.pull-right:hover  {
   color: white !important;
   border-radius: 0px;
}
a.btn.btn-contact-developer-services.pull-right  {
   border-radius: 0px !important;
}


img.developer-services-icon{
    width: 70px;
    height: 70px;
    margin: 0;
    background-size: 100%;
    display: inline-block;
}
#developer-services-header {
    padding-top: 100px;
}

span.developer-services-title{
    text-align: center;
    font-size: 30px;
    color: #fff;
    width: 80%;margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    vertical-align: middle;
}


div.developer-services-title-container{
}

.container.developer-services-header {
    padding-top: 25px;
}

img.img-responsive.main-logo-developer-services.center-block {
    padding: 20px;
}


/* Flip Card Styles for Developer Services */

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

.flip-container, .front, .back {
	width: 100%;
	height: 400px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
    display: table;
    vertical-align: middle;

    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    transform: rotateY(0deg);

    background-color: #fcfcfc;
    color: #cc0033;

}

.front-content {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
    background-color: #1f1f1f;
    color: #fff;
}


#flippers {
    margin-top: 70px;
    margin-bottom: 70px;
}

#flippers .back-content h3{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
#flippers .front-content h3{
    color: #cc0033;
    font-size: 20px;
    font-weight: bold;
}

#flippers p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 1.66em;
}

#flippers [class*='col-md']{
    padding:0px;
}

.back-content{
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}
.vertical.flip-container {
	position: relative;
}

.vertical .back {
	transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
	transform-origin: 100% 200px; /* half of height */
}



#flippers svg{
    fill: #cc0033;
}

@media only screen and (min-width:769px){
    .vertical.flip-container:hover .flipper {
        transform: rotateX(-180deg);
    }
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }
}

#developer-services-breadcrumb ol.breadcrumb {
    margin-top: -100px;
}

#developer-services-breadcrumb ol.breadcrumb a {
    color: #cc0033;
}
#developer-services-breadcrumb ol.breadcrumb a:hover {
    color: #cc0033;
}
#developer-services-breadcrumb ol.breadcrumb > li.active{
    color: #fff;
}

#developer-services-content p {
    font-size: 16px;
    text-align: none;
    line-height: 1.66em;
    color: #000 !important;
}

#developer-services-content .navbar-default .navbar-toggle .icon-bar {
    background-color: #cc0033;
}
div#stacked-nav-bar {
    padding-left: 0;
}
.row.developer-services-content-row {
    padding: 25px;
    padding-bottom: 5px;
}

#developer-services-navigation ul.nav.nav-pills {
    border-right: 1px solid #eee;
}

.back-content a.btn.btn-primary {
    cursor: pointer;
}
.col-lg-3.developer-services-side-bar-nav {
    padding-right: 0;
}
.row.developer-services-contact-row {
    padding: 40px;
    padding-top: 5px;
}
.row.developer-services-contact-row hr {
    border-top: 1px solid #eee;
}

@media(max-width:1199px){

    #developer-services-navigation nav.navbar-default {
        border-bottom: 1px solid #cc0034;
    }
    .col-lg-3.developer-services-side-bar-nav {
        padding: 0;
    }
    div#developer-services-content {
        padding: 0;
    }
    #developer-services-navigation ul.nav.nav-pills {
        margin-top: 10px;
        margin-left:0;
    }
    a#sub-navigation-header {
        display: block;
        color: #000000;
        padding-left: 28px;
    }
    #developer-services-navigation ul.nav.nav-pills {
        margin-top: 0px;
    }
    div#stacked-nav-bar {
        border-top: 1px solid #cc0034;
        padding: 0;
        max-height: 100%;
    }
}
// Services Image
.services-img img.img-responsive {
    width: 100%;
}
//Developer Services Contact Form
#developer-services-contact-form input.btn.btn-success {
    background-color: #cc0033 ;
    border: 0;
}

.developer-services-content-title > h1 {
    font-size: 22px;
}

@media(max-width:767px){
    #developer-services-main .row.developer-services-content-header-row {
        height: auto;
      }
    #developer-services-main .developer-services-content-title {
      padding: 0;
    }
    #developer-services-main .row.developer-services-content-row {
        padding: 15px;
    }
    #developer-services-main .developer-services-snapshot-col>.row {
    }
    #developer-services-main .row.find-out-more {
        margin: 0px;
    }
    #developer-services-main span.developer-services-title {
      width: 100%;
    }

    a.dev-services.btn.btn-primary.btn-contact-developer-services {
      margin-right: auto;
      display: block;
      position: relative;
      margin-top: 27px;
      line-height: 16px;
      border-radius:0px;
      height: 35px;
      float: left !important;
  }

    img.img-responsive.main-logo-developer-services.center-block {
        padding: 10px !important;
        height: 170px;
        width: auto;
        margin-top: -20px;
    }
    span.developer-services-title{
        font-size: 20px !important;
        margin-top:0px !important;
    }
    .container.developer-services-header {
        padding-top: 30px;
    }
}

.developer-services-image-caption {
    position: relative;
    color: white;
    background: black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}
.developer-services-image-container {
    margin-bottom: 20px;
}

#developer-services-content h1, #developer-services-content h2, #developer-services-content h3, #developer-services-content h4, #developer-services-content h5{
    color: #1f1f1f;
}

#developer-services-content{
    background-color:#fff;
    border-radius: 5px;
    margin-bottom: 100px;
    padding-bottom: 40px;
    margin-top: 25px;
    height: auto;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

#developer-services-navigation button.navbar-toggle {
    margin-top: 6px;
}

#developer-services-navigation .navbar-header {
    padding-left: 15px;
    padding-top: 14px;
}
#developer-services-content a.dev-services.btn.btn-primary.pull-right {
    color: #fff;
}
#developer-services-content a.dev-services.btn.btn-primary.pull-right:hover {
    color: #fff;
    text-decoration: none;
}
@media(max-width:991px){

    .row.developer-services-contact-row {
        padding: 0 !important;
        padding-bottom: 10px !important;
    }

    a.btn-contact-developer-services {
        margin-top: 10px;
    }
    .row.developer-services-contact-row {
        padding: 5px;
    }
    a.btn-contact-developer-services {
        top: -11px;
        border-top-right-radius: 0px;
    }
    .developer-services-content-title>h1 {
        font-size: 18px;
    }
    .find-out-more-text {
        font-size: 12px;
    }

    a.dev-services.btn.btn-primary.btn-find-out-more-contact-btn.pull-right {
        width: 100%;
    }
    .col-xs-12.col-sm-9.find-out-more-text {
        border-right: 1px solid #eee;
    }
    .arrow-right-contact-button {
        display: none;
    }
    .col-xs-12.col-sm-3.find-out-more-contact-btn {
        padding: 0;
        margin-top: 8px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
  a.dev-services.btn.btn-primary.btn-find-out-more-contact-btn.pull-right {
      margin-top: -8px;
  }
}

.services-home-content {
    padding-top: 22px;
}
#developer-services-content li.active.side-nav-button a{
    background-color: #fff;
    color: #cc0033;
}

#developer-services-content li.side-nav-button a{
    color: #000;
    clear:both;
    padding: 0;
}
#developer-services-content li.side-nav-button{
    width: 100%;
    margin: 0;
}

.developer-services-content-title {
    padding: 20px;
}
.row.developer-services-content-header-row {
    height: 95px;
    border-bottom: 1px solid #eee;
    padding-left: 0;
  }

  .developer-services-snapshot-col strong {
      font-size: 14px;
  }
  .developer-services-snapshot-col > .row > h4 {
      font-size: 16px;
      font-weight: 600;
      color: #cc0133 !important;
  }
  .find-out-more-text {
    border-left: 10px solid #eee;
    line-height: 60px;
    height: 60px;
    font-size: 24px;
    color: #212121;
}
.row.find-out-more {
    height: 60px;
    border-top: 1px solid #eee;
    padding: 0;
    border-bottom: 1px solid #eee;
    margin: 2px;
}
.arrow-right {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #eee;
}
.arrow-right-contact-button {
    width: 0;
    display: inline-block;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    position: relative;
    left: -15px;
    top: 4px;
}

a.btn.btn-primary.btn-find-out-more-contact-btn {
    border-radius: 0px;
    border: 0;
    background-color: #cc0133;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    height: 60px;
    transition: all .4s ease;
}
a.btn.btn-primary.btn-find-out-more-contact-btn:hover {
    background-color: #ab022c;
    transition: all .4s ease;
}
.col-xs-12.col-sm-3.find-out-more-contact-btn {
    padding: 0;
}

.find-out-more-contact-btn {
  top: -1px;
  padding-right: 0px;
}

.developer-services-snapshot-col > .row > p {
    font-size: 15px !important;
    text-align: left !important;
}
.developer-services-snapshot-col > .row {
    padding: 0px;
}

a.btn-contact-developer-services {
    background-color: #cc0033;
    border: 0;
    color: #fff;
    top: 0;
    height: 95px;
    font-size: 22px;
    font-weight: bold;
    line-height: 80px;
    margin-right: 0;
    width: 200px;
    right: -1px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: absolute;
    transition: all 500ms ease;
}
a.btn-contact-developer-services:hover{
    background-color: #ab022c;
    color: #fff;
    transition: all 500ms ease;
}
.services-img-text {
    position: relative;
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}