
// Import the Open Sans Font for Home Page Sliders
@font-face {
    font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf');
}
.container.home-blog-post-carousel-container {
    padding-bottom: 30px;
}

.owl-dots {
    margin-bottom: 0;
}
.row.group_content {
    height: 100px;
}
h1.linaro-title > span{
    font-size:70px;
    font-weight: 700;
}

.blogs_home_block_post.connect {
    border-bottom: 2px solid #97ce1e;
}

.blogs_home_block_post.lite {
    border-bottom: 2px solid #ea9538;
}

.blogs_home_block_post.boards {
    border-bottom: 2px solid #999;
}

.blogs_home_block_post.connect:hover {
    background-color: #97ce1e;
    color: white;
}

.blogs_home_block_post.lite:hover {
    background-color: #ea9538;
    color: white;
}

.blogs_home_block_post.boards:hover {
    background-color: #000;
    color: white;
}
//SM
@media(min-width:992px){
    .col-md-5ths.col-xs-12.group_block:hover  .row.group_header {
        opacity: 0;
        cursor:pointer;
    }
    .col-md-5ths.col-xs-12.group_block:hover  .row.group_content {
        opacity:1;
        transform: scaleY(1);
    }
}


//Smallest mobile view
@media(max-width:767px){
    h1.linaro-title > span{
        font-size:38px;
        font-weight: 600;
    }
    
    h2.linaro-sub-title{
        font-size: 28px !important;
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: -15px;
    }
    h2.blogs_home_block_text {
        font-size: 20px;
    }
    div#groups_home_block {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    #homepage-jumbotron {
        padding: 20px;
    }
    .carousel-caption.right-caption {
        top: 0;
        margin-top: 47px;
        right:0;
        left:0;
    }
    a.boards-home-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #home-block-sliders .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 10px;
        position: relative;
        top: -60px;
    }
}

//Home Page Sliders
.item.home-page-slider-item {
    height: 230px;
}

.home-page-slider-button {
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display:none;
}


.home-page-slider-text {
    font-family: 'Open Sans', Arial;
}

// Developer Sertvices
span.developer-services-line-1 {
    font-weight: bold;
    font-size: 16px;
}
span.developer-services-line-2 {
    font-size: 14px;
}

// Developer Sertvices
span.boards-slide-line-1 {    
    font-size: 20px;
    color: #ffdf84;
}
span.boards-slide-line-2 {
    font-size: 20px;
    color: #ffdf84;
    font-weight: bold;
}


// Arm HPC

.home-page-slider-text.hpc {
    margin-top: 40px;
}

span.arm-hpc-japan-slide-line-1 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    top: 8px;
    left: 2px;
    position: relative;
    padding: -14px;
    /* line-height: 33px; */
}

span.arm-hpc-japan-slide-line-2 {
    font-weight: bold;
}
span.arm-hpc-japan-slide-line-3 {
    color: #1aa8ff;
}

.owl-stage-outer {
    height: 240px;
}
.container.home-inline-carousel {
    margin-top: 40px;
    margin-bottom: 0;
}


//Home Page

.arm-hpc-divider {
    background: linear-gradient(to right, #d12d0d 50%, #1aa8ff 50%);
    height: 2px;
    width: 204px;
    margin-top: 3px;
    margin-bottom: 8px;
    border-radius: 1px;
}

a.btn.btn-linaro-home.connect {
    background-color: #97ce1e;
    border-color: #6a9015;
}


div.row.slide-content-row{
    padding-left:15px;
    padding-right: 15px;
}

span.linaro-connect-slide-text {
    font-size: 16px;
    font-weight: 500;
}

.row.group_content {
    transform: scaleY(0.1);
    position: absolute;
    opacity: 0;
    width: 100%;
    top: -10px;
    transition: all 250ms linear;
}

.row.group_header {
    opacity: 1;
    transition: opacity 250ms linear;
}


.col-xs-12.home-page-slider-info {
    position: absolute;
    top: 0;
    z-index: 10000000;
    margin-top:10px;
}

div.home-page-slider-image > img.logo {
    height: 100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.home-page-slider-text {
    color: #fff;
    min-height: 70px;
}

// Home Page Blog Posts 
h1.blogs_home_block_text {
    font-style: normal;
    font-size: 20px;
}
h3.blogs_home_block_post_title {
    font-weight: normal;
    font-style: normal;
    color: #4d4d4d;
}
div.blogs_home_block_post {
    border: 3px solid #eee;
    min-height: 200px;
    padding: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 142%;
    width: 100%;
    display: flex;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blog-post-icon > picture{
    position: absolute;
    bottom:10px;
    right:5px;
    height:auto;
    width:32px;
    z-index:1;
}

div.blogs_home_block_post::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

div.blogs_home_block_post::after {
    border-width:44px;
    border-right-color: #eee;
    border-bottom-color: #eee;
}
div.blogs_home_block_post.connect::after {
    border-width:44px;
    border-right-color: #97ce1e;
    border-bottom-color: #97ce1e;
}

div.blogs_home_block_post.lite::after {
    border-width:44px;
    border-right-color: #ea9538;
    border-bottom-color: #ea9538;
}
div.blogs_home_block_post.boards::after {
    border-width:44px;
    border-right-color: #000;
    border-bottom-color: #000;
}

div.blogs_home_block_post:nth-child(3) {
    background-color: black;
    margin-left: 20px;
    margin-right:20px;
}

div.blogs_home_block_post:hover > h3.blogs_home_block_post_title  {
    color: #fff;
}

h3.blogs_home_block_post_title {
    font-weight: normal;
    color: #000;
    font-size: 20px;
}

// Home Carousel
.home-inline-carousel{
    margin-top: 20px;
}
//Home Page
#homepage-jumbotron {
    padding: 80px;
}
#home-block-sliders {
    margin-bottom: 60px;
}

#home-block-sliders > p.linaro-home-block-text > a {
    color: #fff;
    transition: all 500ms ease;
}
#home-block-sliders > p.linaro-home-block-text > a:hover {
    color: $brand-primary;
    text-decoration: none;
}
h5 > span.slider-sub-title {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
}

.linaro-sub-title{
    color: #fff;
    text-shadow: rgb(111, 111, 111) 1px 1px 7px;
}
.linaro-title{
    text-shadow: rgb(111, 111, 111) 1px 1px 7px;
}

//Home Groups Block
div#blogs_home_block {
    margin-bottom: 50px;
    margin-top: 20px;
}

span.sub-title {
    display: block;
    color: #fff;
}
span.main-title {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.row.group_header {
    background-color: #999;
    height: auto;
    padding: 15px;
    
    transition-delay: 100ms;
    transition: all 100ms linear;
}

.col-xs-12.group_content {
    
    transition-delay: 200ms;
    transition: all 300ms linear;
}

.col-md-5ths.col-xs-12.group_block {
    margin-bottom: 20px;
    margin-top: 20px;
}

.col-xs-3.group_icon.center-block {
    padding: 0;
    padding-left: 10px;
}

.col-xs-3.group_icon.center-block > picture > img {
    height: 55px;
    margin-top: -5px;

}


.col-xs-12.group_content > p{
    font-size: 12px;
    padding-bottom:10px;
    padding-top:10px;
    color: #333;
    margin-bottom: 0 !important;
    height: 85px;
}

div#groups_home_block {
    margin-bottom: 50px;
    margin-top: 50px;
}

.row.group_header {
    background-color: #0195ca;
    padding: 0;
    padding-top: 15px;
    height: 80px;
}

.row.group_header.leg {
    background-color: #0195ca;
}
.row.group_header.lng {
    background-color: #00a456;
}
.row.group_header.lhg {
    background-color: #00adea;
}
.row.group_header.lmg {
    background-color: #907cb0;
}
.row.group_header.lite {
    background-color: #ea9538;
}

.row.group_content.leg {
    background-color: #e6f4f9;
    border-bottom: 2px solid #0195ca;
    border-top: 2px solid #0195ca;
}
.row.group_content.lng {
    background-color: #e6f5ee;
    border-bottom: 2px solid #00a456;
    border-top: 2px solid #00a456;
}
.row.group_content.lhg {
    background-color: #e6f6fc;
    border-bottom: 2px solid #00adea;
    border-top: 2px solid #00adea;
}
.row.group_content.lmg {
    background-color: #f4f2f7;
    border-bottom: 2px solid #907cb0;
    border-top: 2px solid #907cb0;
}
.row.group_content.lite {
    background-color: #fcf4eb;
    border-bottom: 2px solid #ea9538;
    border-top: 2px solid #ea9538;
}



//Linaro Home Block
div.blogs_home_block_post.linaro::after {
    border-width: 44px;
    border-right-color: #a080b7;
    border-bottom-color: #a080b7;
}
div.blogs_home_block_post.linaro {
    border-bottom-color: #a080b7;
}
div.blogs_home_block_post.linaro:hover {
    background-color: #a080b7;
}


//Linaro Home Block
div.blogs_home_block_post.linaro-two::after {
    border-width: 44px;
    border-right-color: #9c3;
    border-bottom-color: #9c3;
}
div.blogs_home_block_post.linaro-two {
    border-bottom-color: #9c3;
}
div.blogs_home_block_post.linaro-two:hover {
    background-color: #9c3;
}

// HPC Home Block
div.blogs_home_block_post.hpc::after {
    border-width: 44px;
    border-right-color: #3b81ad;
    border-bottom-color: #3b81ad;
}
div.blogs_home_block_post.hpc {
    border-bottom-color: #3b81ad;
}
div.blogs_home_block_post.hpc:hover {
    background-color: #3b81ad;
    background: rgba(129,18,154,1);
    background: -moz-linear-gradient(-45deg, rgba(129,18,154,1) 0%, rgba(92,71,163,1) 47%, rgba(59,129,173,1) 81%, rgba(59,129,173,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(129,18,154,1)), color-stop(47%, rgba(92,71,163,1)), color-stop(81%, rgba(59,129,173,1)), color-stop(100%, rgba(59,129,173,1)));
    background: -webkit-linear-gradient(-45deg, rgba(129,18,154,1) 0%, rgba(92,71,163,1) 47%, rgba(59,129,173,1) 81%, rgba(59,129,173,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(129,18,154,1) 0%, rgba(92,71,163,1) 47%, rgba(59,129,173,1) 81%, rgba(59,129,173,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(129,18,154,1) 0%, rgba(92,71,163,1) 47%, rgba(59,129,173,1) 81%, rgba(59,129,173,1) 100%);
    background: linear-gradient(135deg, rgba(129,18,154,1) 0%, rgba(92,71,163,1) 47%, rgba(59,129,173,1) 81%, rgba(59,129,173,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81129a', endColorstr='#3b81ad', GradientType=1 );
}




.blogs_home_block_post > a {
    text-decoration: none;
}

#blog-slider > .owl-dots {
    margin-bottom: 25px;
}



