// Theses are the Overrides of Bootstrap Sass Variables locatted in boostrap/_variables

$brand-primary: #20937b;
$navbar-height: 66px !important;
$navbar-inverse-bg: #000;
$navbar-inverse-color: #fff;
$footer-bg-color: #000;
$sub-footer-color: #000;
$navbar-base-text-color: #fff;
$footer-text-color: #000;
$home-page-title-text: #000;
$home-page-main-title-color: $brand-primary;
$navbar-default-toggle-icon-bar-bg: #fff;
