{% if site.data.nav.universal_nav %}
    {% include_cached nav/universal_nav.html %}
{% endif %}
{% assign page_base = include.pageUrl | split: "/" %}
 {% assign current_page_url = include.pageUrl | replace: "index.html", "" %}
{% if current_page_url == "/" %}
    {% assign current_page_url  = "do-no-set"%}
{% endif %}
<nav class="navbar navbar-expand-md navbar-light bg-light" id="main-navigation">
    <div class="container">
        {% include nav/brand.html %}
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse"
            aria-controls="navbar-collapse " aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="sr-only">Toggle navigation</span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav ml-auto">
                {% for section in site.data.nav.pages %}
                    {% if section.options %}
                        {% assign active = "" %}
                        {% if section.active_paths %}
                            {% for active_path in section.active_paths %}
                                {% if current_page_url contains active_path %}
                                        {% assign active = "active" %}
                                    {% break %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% for menu-item in section.options %}
                            {% if menu-item.options %}
                                {% for sub-item in menu-item.options %}
                                    {% if current_page_url contains sub-item.url or sub-item.url == current_page_url %}
                                        {% unless sub-item.url contains "http" %}
                                            {% assign active = "active" %}
                                            {% break %}
                                        {% endunless %}
                                    {% endif %}
                                {% endfor %}
                            {% elsif current_page_url contains menu-item.url or menu-item.url == current_page_url %}
                                {% unless menu-item.url contains "http" %}
                                    {% assign active = "active" %}
                                    {% break %}
                                {% endunless %}
                            {% endif %}
                        {% endfor %}

                        <li  class="nav-item dropdown {{active}}">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-{{forloop.index}}" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{section.title}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown-{{forloop.index}}">
                                {% for menu_option in section.options %}
                                    {% if menu_option.options %}
                                    <li class="dropdown-item dropdown {% if section.left %} pull-left {% endif %}">
                                        <a href="#" id="dropdown1-{{forloop.index}}" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" class="dropdown-toggle">
                                            {{menu_option.text}}
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown1-{{forloop.index}}">
                                        {% for sub-option in menu_option.options %}
                                            {% if sub-option.options %}
                                                <li class="dropdown-item dropdown">
                                                    <a href="#" class="dropdown-toggle" id="dropdown1-1-{{forloop.index}}"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                        {{sub-option.text}}
                                                    </a>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdown1-1-{{forloop.index}}">
                                                        {% for sub-sub-option in sub-option.options %}
                                                            <li >
                                                                <a href="{{sub-sub-option.url}}">{{sub-sub-option.text}}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% else %}
                                                <li><a href="{{sub-option.url}}">{{sub-option.text}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{menu_option.url}}">
                                            {{menu_option.text}}
                                            {% if menu_option.external %}<i class="glyphicon glyphicon-new-window pull-right"></i>{% endif %}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                            {% assign active = "" %}
                            {% if section.url == current_page_url or current_page_url contains section.url %}
                                {% assign active = "active" %}
                            {% elsif section.active_paths %}
                                {% for active_path in section.active_paths %}
                                    {% if current_page_url contains active_path %}
                                        {% assign active = "active" %}
                                        {% break %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        <li class="nav-item {{active}}">
                            <a class="nav-link" href="{{section.url}}">{{section.title}} {% if active == "active" %}<span class="sr-only">(current)</span>{% endif %}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if site.data.nav.search.enabled %}
                <li class="nav-item dropdown search">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-label="Search dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="icon-search"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <form class="form-inline flex-nowrap" action="/search/" method="GET" target="_self" id="search_form">
                            <input class="form-control border-0" name="q" type="search" placeholder="Search..." aria-label="Search">
                            <button class="btn btn-outline-primary border-0" type="submit">Search</button>
                            <input type="hidden" name="fields.label" value="{{ site.search_label }}">
                        </form>
                    </div>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
