<div class="row blocks">
    <div class="card-deck">
        {% for block in include.object.block_section_content.blocks %}
            <div class="card {% if block.background_image %}background_image text-white{% endif %}">
                {% if block.image %}
                    {% assign block_image = block.image | remove_first: "/assets/images/" %}
                    {% capture block_image_alt %}{{block.title}} image {% endcapture %}
                    {% picture card_block_image {{block_image}} --alt {{block_image_alt}} %}
                {% endif %}
                <div class="card-body {% if block.background_image %}card-img-overlay{% else %}card-body{% endif %}">
                    {% if block.title %}
                    <h5 class="card-title">{{block.title}}</h5>
                    {% endif %}
                    {% if block.sub_title %}
                    <h6 class="card-subtitle mb-2 text-muted">{{block.sub_title}}</h6>
                    {% endif %}
                    {% if block.description %}
                    <p class="card-text">
                        {{block.description | markdownify }}
                    </p>
                    {% endif %}
                    {% if block.buttons %}
                        {% for button in block.buttons %}
                            {% include flow/button.html object=button %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
