<div class="col col-12 feature_block">
    <div class="row {% if include.object.style %}{{include.object.style}}{% endif %}">
        <div class="col col-12 col-md-7 block__image {% if include.object.feature_block_content.position == "right" %}order-sm-2{% endif %}">
            {% if include.object.feature_block_content.type == "image" %}
                {% assign image_path = include.object.feature_block_content.image_content_path %}
                {% capture image_alt %}
                    {% if include.object.feature_block_content.title %}
                        {{include.object.feature_block_content.title}} featured image
                    {% else %}
                        {{page.title}} feature block image
                    {% endif %}
                {% endcapture %}
                {% picture feature_block_image {{image_path}} --alt {{image_alt}} %}
            {% elsif include.object.feature_block_content.type == "slider" %}
                {% include flow/slider.html object=include.object.feature_block_content.slider_content %}
            {% elsif include.object.feature_block_content.type == "youtube_video" %}
                {% include youtube.html url=include.object.feature_block_content.youtube.url title=include.object.feature_block_content.title poster_image=include.object.feature_block_content.youtube.poster_image %}
            {% else %}
                <p>Please verify the feature_block content "type" is correct</p>
            {% endif %}
        </div>
        <div class="col col-12 col-md-5 block__text {% if include.object.feature_block_content.position == "right" %}order-sm-1{% endif %}">
            {% if include.object.feature_block_content.title %}
                <h2>{{include.object.feature_block_content.title}}</h2>
            {% endif %}
            {% if include.object.feature_block_content.highlight-text %}
                <div class="font-weight-bold">
                    {{include.object.feature_block_content.highlight-text | markdownify }}
                </div>
            {% endif %}
            {% if include.object.feature_block_content.text == "page_content" %}
                {{page.content | markdownify }}
            {% else %}
                {{include.object.feature_block_content.text | markdownify}}
            {% endif %}
            {% if include.object.feature_block_content.buttons %}
                {% include flow/buttons.html object=include.object.feature_block_content.buttons %}
            {% endif %}
        </div>
    </div>
</div>
