{% if include.object.members_content.members_content.source %}
    {% assign members = site.data[include.object.members_content.source] %}
{% else %}
    {% assign members = include.object.members_content.items %}
{% endif %}
<div class="members_section {% if include.object.style %}{{include.object.style}}{% endif %}">
{% for member in members %}
    {% if member.url %}<a href="{{member.url}}">{% endif %}
    {% if member.image.path contains "http" %}
    <div class="col-xs-6 col-sm-{{include.object.members_content.item_width}}">
        <img class="lazyload img-responsive" alt="{{member.image.alt}}"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="{{member.image.path}}"/>
    </div>
    {% else %}
    {% assign image_path = member.image.path %}
    {% assign full_path = member.image.path %}
    <div class="col-xs-6 col-sm-{{include.object.members_content.item_width}}">
        <!--TODO picture-->
    </div>
    {% endif %}
    {% if member.url %}</a>{% endif %}
{% endfor %}
</div>
