{% if include.object.url contains "https://youtu.be/" %}
{% assign youtube_id = include.object.url | replace: 'https://youtu.be/','' %}
{% elsif include.object.url contains "https://www.youtube.com/watch?v=" %}
{% assign youtube_id = include.object.url | replace: 'https://www.youtube.com/watch?v=','' %}
{% else %}
{% assign youtube_id = include.object.url %}
{% endif %}

{% assign youtube_id =  youtube_id | split: "&" | first %}

<div class="col col-12 youtube_embed">
<div class="embed-responsive embed-responsive-16by9">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{youtube_id}}" srcdoc="<style>
    * {
        padding: 0;
        margin: 0;
        overflow: hidden
    }
    img {
        filter: brightness(0.3);
    }
    html,
    body {
        height: 100%
    }

    img,
    span {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        margin: auto
    }

    span {
        height: 1.5em;
        text-align: center;
        font: 48px/1.5 sans-serif;
        background-color: #98cc33;
        color: #f9f9f9;
        width: 100px;
        margin: auto auto;
        left: 0;
        line-height: 1.3em;
        right: 0;
        margin-left: auto;
        border-radius: 10px;
        margin-right: auto;
    }
</style><a href=https://www.youtube.com/embed/{{youtube_id}}?autoplay=1> <img
    src=https://img.youtube.com/vi/{{youtube_id}}/maxresdefault.jpg
    alt='{{include.object.title}}'><span>▶</span></a>" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        title="{{include.object.title}}"></iframe>
    </div>
</div>
