<div class="col-sm-4 col-xs-12 blog-post-item-col no-padding">
    <div class="blog-post-item">
        <a href="/">
            <div class="blog-post-item-content">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">5</span>
                        Item 1
                    </li>
                    <li class="list-group-item">
                        <span class="badge">10</span>
                        Item 2
                    </li>
                    <li class="list-group-item">
                        <span class="badge">15</span>
                        Item 3
                    </li>
                </ul>
                
            </div>
        </a>
    </div>
        
</div>