<div class="row breadcrumb-container"
{% if site.data.settings.breadcrumb.image %}
style="background-image: url('{% asset_path '{{site.data.settings.breadcrumb.image}}' %}');
"
{% endif %}"> <!--- Row Start ---->
<div class="container breadcrumb-inner-container"><!--- Container Start ---->
    <h1>
        {% if page.title %}
        {{ page.title }}
        {% else %}
        {{page.url | replace: "/", "" | replace: "-","" | capitalize }}
        {% endif %}
    </h1>
    <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="/">
                <span itemprop="name">{{site.title}}</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        {% assign page-url = page.url | split: "/" %}
        {% assign iterator = 2 %}
        {% assign breadcrumb-path = "/" %}
        {% for section in page-url %}
            {% if forloop.last == false %}
                    {% if section == "" or section == "index.html" %}
                        {% continue %}
                    {% elsif section == "product" %}
                        {% capture breadcrumb-path %}{{breadcrumb-path}}{{section}}/{% endcapture%}
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="/products/">
                                    <span itemprop="name">{{section | truncate: 20 | capitalize }}s</span>
                                </a>
                                <meta itemprop="position" content="{{iterator}}" />
                            </li>
                    {% elsif section contains ".md.html" %}
                        {% capture breadcrumb-path %}{{breadcrumb-path}}{{section}}{% endcapture%}
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="{{breadcrumb-path}}">
                                    <span itemprop="name">{{section | replace: ".html", "" | truncate: 20 | capitalize }}</span>
                                </a>
                                <meta itemprop="position" content="{{iterator}}" />
                            </li>
                    {% elsif section == "ConsumerEdition" %}
                        {% capture breadcrumb-path %}{{breadcrumb-path}}{{section}}/{% endcapture%}
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="{{breadcrumb-path}}">
                                    <span itemprop="name">Consumer Edition</span>
                                </a>
                                <meta itemprop="position" content="{{iterator}}" />
                            </li>
                    {% elsif section == "EnterpriseEdition" %}
                        {% capture breadcrumb-path %}{{breadcrumb-path}}{{section}}/{% endcapture%}
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="{{breadcrumb-path}}">
                                    <span itemprop="name">Enterprise Edition</span>
                                </a>
                                <meta itemprop="position" content="{{iterator}}" />
                            </li>
                    {% elsif section == "IoTEdition" %}
                        {% capture breadcrumb-path %}{{breadcrumb-path}}{{section}}/{% endcapture%}
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="{{breadcrumb-path}}">
                                    <span itemprop="name">IoT Edition</span>
                                </a>
                                <meta itemprop="position" content="{{iterator}}" />
                            </li>
                    {% elsif section == "MezzanineProducts" %}
                        {% capture breadcrumb-path %}{{breadcrumb-path}}{{section}}/{% endcapture%}
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="{{breadcrumb-path}}">
                                    <span itemprop="name">Mezzanine Products</span>
                                </a>
                                <meta itemprop="position" content="{{iterator}}" />
                            </li>
                    {% else %}
                    {% capture breadcrumb-path %}{{breadcrumb-path}}{{section}}/{% endcapture%}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="{{breadcrumb-path}}">
                                <span itemprop="name">{{section | truncate: 20 | capitalize }}</span>
                            </a>
                            <meta itemprop="position" content="{{iterator}}" />
                        </li>
                    {% endif %}
            {% else %}
                {% if site.data.settings.breadcrumb.page-titles %}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
                        <span itemprop="name">{% if page.title %}{{page.title}}{% else %}{{ page.title }}{% endif %}</span>
                        <meta itemprop="position" content="{{iterator}}" />
                    </li>
                {% endif %}
            {% endif %}
            {% assign iterator = iterator | plus: 1 %}
        {% endfor %}
    </ol>
</div>
</div>
