{% if page.css-package %}
    {% capture css-package %}/assets/css/main-{{page.css-package}}.css{% endcapture %}
    <link rel="stylesheet" href="{{ css-package | relative_url }}?v={% bust_cache %}">
{% elsif layout.css-package %}
    {% capture css-package %}/assets/css/main-{{layout.css-package}}.css{% endcapture %}
    <link rel="stylesheet" href="{{ css-package | relative_url }}?v={% bust_cache %}">
{% elsif layout.css-package == "main" or page.css-package == "main" %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}?v={% bust_cache %}">
{% else %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}?v={% bust_cache %}">
{% endif %}
