{% if paginator.total_posts > 0 %}
    <div class="row blog-section">
    {% for post in paginator.posts %}
        {% assign timeframe = 604800 %}
        {% assign post_in_seconds = post.date | date: "%s" | plus: 0 %}
        {% assign recent_posts = "now" | date: "%s" | minus: timeframe %}
        {% if forloop.first and paginator.page == 1 %}
            <style>
                @media(min-width: 1000px){
                    .blog-post-item-col:nth-child(3n+2) > .blog-post-item {
                        margin-right:0px !important;
                        margin-left:0px !important;
                    }
                }
            </style>
            <div class="featured-post-row">
                <div class="col-xs-12 col-sm-7 col-sm-push-5 latest-featured-post">
                    <a href="{{post.url}}">
                        {% if post.image.path %}
                            {% assign imagePath = post.image.path | replace: '/assets/images/', '' %}
                            {% picture thumb {{imagePath}} alt=post.title %}
                        {% else %}
                            {% assign imagePath = site.data.settings.placeholder | replace: '/assets/images/', '' %}
                            {% picture placeholder {{imagePath}} alt=post.title %}
                        {% endif %}
                    </a>
                </div>
                <div class="col-xs-12 col-sm-5 col-sm-pull-7 latest-featured-post-content">
                    <a href="{{post.url}}">
                        <div class="post-info">
                            <span class="post-cat">{{post.categories | first | capitalize }}</span>
                            <h3>{{post.title}}</h3>
                            <p class="excerpt">
                                {% if post.description %}
                                    {{post.description}}
                                {% else %}
                                    {{ post.content | strip_html | truncatewords:30 }}
                                {% endif %}
                            </p>
                            <a href="{{post.url}}" class="btn btn-primary">
                                Read Post
                            </a>
                        </div>
                    </a>
                </div>
            </div>   
            {% else %}

            {% comment %}
                Blog Filler Element - This is needed due to the layout of the blog. If not included then there will be an empty col on the first blog page.
            {% endcomment %}
            {% if forloop.index == 4 and paginator.page == 1 %}
                {% if site.data.settings.blog.filler-element %}
                        {% include {{site.data.settings.blog.filler-element}} %}
                {% endif %}
            {% endif %}

            <div class="col-sm-4 col-xs-12 blog-post-item-col no-padding">
                <div class="blog-post-item">
                    <a href="{{post.url}}">
                        <div class="blog-featured-image {% if post.image == site.data.settings.social_share_image %}using-placeholder{% endif %}">
                        {% if post.image.path %}
                            {% assign imagePath = post.image.path | replace: '/assets/images/', '' %}
                            {% picture thumb {{imagePath}} alt=post.title %}
                        {% else %}
                            {% assign imagePath = site.data.settings.placeholder | replace: '/assets/images/', '' %}
                            {% picture placeholder {{imagePath}} alt=post.title %}
                        {% endif %}
                        {% if image_path != "" %}
                        {% endif %}
                            <div class="read-article">
                                <i class="fa fa-eye"></i> Read Article
                            </div>
                        </div>
                    <div class="blog-post-item-content">
                        <div class="post-cat">{{post.categories | first | capitalize }}</div>
                            {% include read_time.html content=post.content %}
                            <h3>{{ post.title}}</h3>
                            <small>{{ post.date | date: "%A, %B %-d, %Y"}}</small>
                        <br />
                        <p class="post_excerpt">
                        {{ post.content | strip_html | truncatewords:30 }}
                        </p>
                        <div class="author-section">
                            {% assign author = site.authors | where: "username", post.author | first %}
                            {% assign author-url = author.url %}
                            <div class="blog-author-image lazyload" data-bg="{% if author.image.path %}{{author.image.path}}{% else %}{{site.data.settings.blog.avatar_placeholder}}{% endif %}"></div>
                            <small class="blog-author">
                                <em>{% if author.name %}{{author.name}}{% else %}{{post.author}}{% endif %}</em>
                            </small>
                        </div>
                    </div>
                    </a>
                </div>
                    
            </div>
            {% endif %}
    {% endfor %}
    </div>
{% else %}
    <p>
        No posts of this category were found!
    </p>
{% endif %}
