{% if paginator.total_posts > 0 %}
    {% for post in paginator.posts %}
        {% assign timeframe = 604800 %}
        {% assign post_in_seconds = post.date | date: "%s" | plus: 0 %}
        {% assign recent_posts = "now" | date: "%s" | minus: timeframe %}
        <div class="row blog_post">
            {% if site.data.settings.blog.show_thumbnails %}
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <a href="{{post.url}}">
                    {% if post.image.thumb %}
                            {% capture image_path %}{{site.blog_images_dir}}thumbs/{{post.image.thumb}}{% endcapture %}
                            {% capture full_path %}/{{site.blog_images_dir}}thumbs/{{post.image.thumb}}{% endcapture %}
                            {% responsive_image_block %}
                            template: _includes/thumb.html
                            path: {{ image_path }}
                            fullpath: {{ full_path }}
                            {% if post.title %}
                            title: {{ post.title | slugify: "ascii"}}
                            alt: {{ post.title | slugify: "ascii"}}
                            {% endif %}
                            {% endresponsive_image_block %}
                    {% elsif post.image.name %}
                            {% capture image_path %}{{site.blog_images_dir}}{{post.image.name}}{% endcapture %}
                            {% capture full_path %}/{{site.blog_images_dir}}{{post.image.name}}{% endcapture %}
                            {% responsive_image_block %}
                            template: _includes/thumb.html
                            path: {{ image_path }}
                            fullpath: {{ full_path }}
                            {% if post.title %}
                            title: {{ post.title | slugify: "ascii"}}
                            alt: {{ post.title | slugify: "ascii"}}
                            {% endif %}
                            {% endresponsive_image_block %}
                    {% elsif post.image.path %}
                            {% capture image_path %}{{post.image.path | remove_first: "/" }}{% endcapture %}
                            {% capture full_path %}{{post.image.path}}{% endcapture %}
                            {% responsive_image_block %}
                            template: _includes/thumb.html
                            path: {{ image_path }}
                            fullpath: {{ full_path }}
                            {% if post.title %}
                            title: {{ post.title | slugify: "ascii"}}
                            alt: {{ post.title | slugify: "ascii"}}
                            {% endif %}
                            {% endresponsive_image_block %}
                    {% elsif post.image == site.data.settings.social_share_image %}
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{site.data.settings.placeholder}}"
                            alt="{{post.title}}" class="center-block img-responsive lazyload" />
                    {% elsif post.image %}
                            {% capture image_path %}{{post.image | remove_first: "/" }}{% endcapture %}
                            {% capture full_path %}{{post.image}}{% endcapture %}
                            {% responsive_image_block %}
                            template: _includes/thumb.html
                            path: {{ image_path }}
                            fullpath: {{ full_path }}
                            {% if post.title %}
                            title: {{ post.title | slugify: "ascii"}}
                            alt: {{ post.title | slugify: "ascii"}}
                            {% endif %}
                            {% endresponsive_image_block %}
                    {% else %}
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="{{site.data.settings.placeholder}}" alt="{{post.title}}" class="center-block img-responsive lazyload"/>
                    {% endif %}
                    </a>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-8 post_title no-padding">
                    <a href="{{post.url}}"><h3>{{ post.title}}</h3></a>

                    {% assign author = site.authors | where: "username", post.author | first %}

                    Posted by <a href="{{author.url}}"><strong>{% if author.name %}{{author.name}}{% else %}{{post.author}}{% endif %}</strong></a>
                    on <em>{{ post.date | date: "%A, %B %-d, %Y"}}</em>
                    {% if post_in_seconds > recent_posts %}
                        <span class="new-post" title="Post added in the last week.">New</span>
                    {% endif %}
                    <br />
                    <p class="post_excerpt">
                    {{ post.content | strip_html | truncatewords:30 }}
                    </p>
                    <p>
                        <a href="{{post.url}}">
                            <button class="btn blog-read-more-btn">Read More</button>
                        </a>
                    </p>
                </div>
            {% else %}
                <div class="col-xs-12 post_title no-padding">
                    <a href="{{post.url}}"><h3>{{ post.title}}</h3></a>
                    <em>{{ post.date | date: "%A, %B %-d, %Y"}}</em>
                    {% if post_in_seconds > recent_posts %}
                        <span class="new-post" title="Post added in the last week.">New</span>
                    {% endif %}
                    <br />
                    <p class="post_excerpt">
                    {{ post.content | strip_html | truncatewords:30 }}
                    </p>
                    <p>
                        <a href="{{post.url}}">
                            <button class="btn blog-read-more-btn">Read More</button>
                        </a>
                    </p>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>
        No posts of this category were found!
    </p>
{% endif %}
