<div class="container-fluid footer">
    <div class="row">
        <footer id="footer">
            <div class="container">
                <div class="row main-footer-content">
                    {% for column in site.data.footer.columns %}
                    <div class="col-xs-6 col-md-2">
                        <ul class="list-unstyled ">
                            <li><b><a class="footer-heading" href="{% if column.url %}{{column.url}}{% else %}#{% endif %}">{{column.title}}</a></b></li>
                            {% if column.items %} {% for item in column.items %}
                            <li><a class="footer-element" href="{{item.url}}">{{item.text}}</a></li>
                            {% endfor %} {% endif %}
                        </ul>
                    </div>
                    {% endfor %} {% if site.data.footer.image %}
                    <div class="col-xs-6 col-md-2">
                        <a href="/">
                            <img src="{% if site.data.footer.image %}{% asset_path '{{site.data.footer.image}}'  %}{% endif %}" class="footer-logo pull-right" alt="{{site.data.settings.name}}" />
                        </a>
                    </div>
                    {% endif %}
                </div>

                <div class="row footer-strip">
                    <div class="container no-padding">
                        <div class="col-md-6 company-footer-bottom">
                            <a href="{{site.data.linaro.url}}"><img src="{% asset_path '{{site.data.settings.linaro-footer-image}}'  %}" class="linaro-logo" alt="Linaro Icon" /></a>
                            Copyright &copy; {{ 'now' | date: "%Y" }} Linaro Limited <a href="{{site.data.linaro.url}}">{{site.data.linaro.name}}</a>
                            {% for link in site.data.footer.company-links %}
                                <span class="coloured-bp">&bull;</span>
                                <a href="{{link.url}}">{{link.name}}</a> 
                            {% endfor %}
                            {% if site.data.settings.newsletter.url %}
                                <span class="coloured-bp">&bull;</span>
                                <a href="{{site.data.settings.newsletter.url}}">Subscribe to Newsletter</a> 
                            {% else %}
                                {% if site.data.settings.newsletter.enabled %}
                                <span class="coloured-bp">&bull;</span>
                                <a href="#" id="open-newsletter-popup">Subscribe to Newsletter</a> 
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-md-6 social-footer-bottom text-right no-padding">
                            {% if site.data.settings.facebook_username %}
                                <a href="http://facebook.com/{{site.data.settings.facebook_username}}" class="btn btn-social-icon"><i class="icon-facebook"></i></a> 
                            {% endif %}
                            {% if site.data.settings.github_username %}
                                <a href="https://github.com/{{site.data.settings.github_username}}" class="btn btn-social-icon"><i class="icon-github-circled"></i></a> 
                            {% endif %}
                            {% if site.data.settings.google_plus_username %}
                                <a href="https://plus.google.com/{{site.data.settings.google_plus_username}}/posts" class="btn btn-social-icon"><i class="icon-gplus"></i></a> 
                            {% endif %}
                            {% if site.data.settings.linkedin_username %}
                                <a href="https://www.linkedin.com/company/{{site.data.settings.linkedin_username}}" class="btn btn-social-icon"><i class="icon-linkedin"></i></a> 
                            {% endif %}
                            {% if site.data.settings.twitter_username %}
                                <a href="https://twitter.com/{{site.data.settings.twitter_username}}" class="btn btn-social-icon"><i class="icon-twitter"></i></a>
                            {% endif %}
                            {% if site.data.settings.youtube_username %}
                                <a href="https://www.youtube.com/{{site.data.settings.youtube_username}}" class="btn btn-social-icon"><i class="icon-youtube"></i></a>
                            {% endif %}
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <!--/.container-->
            </div>
        </footer>
    </div>
</div>