{% unless page.edit-on-github == "false" %}
{% if site.data.settings.edit-on-github.enabled and site.data.settings.edit-on-github.repo %}
    {% assign page_base = page.permalink | split:"/" %}
    {% assign page-path = page.path | replace: " ", "" %}
    {% if page_base[1] == "blog" %}
    {% elsif page_base[1] == "documentation" and site.data.settings.edit-on-github.docs %}
        {% capture github-home %}{{site.data.settings.edit-on-github.docs}}{% endcapture %}
        {% capture github-docs %}{{site.data.settings.edit-on-github.docs}}/tree/master/{% endcapture %}
        {% capture report-issue-link %}
        {{github-home}}/issues/new?title=Problem+with+{{page-path}}&body=Please+enter+some+details+about+the+bug/issue+so+we+can+promptly+resolve+it.+%0D%0AURL%3A++{{site.url}}{{page.url}}
        {% endcapture %}    
        {% capture edit-me-link %}{{github-docs}}{{page-path}}{% endcapture %}
        <div class="row content github-edit">
            <div class="container">
                <div class="edit-me-on-github text-center">
                    <div class="btn-group btn-group-xs" role="group" id="github_controls">
                        <a type="button" href="{{github-home}}" class="btn btn-default github_control_btn btn-buy" id="github_home">
                            <i class="icon-github-circled center-block"></i>
                        </a>
                        <a type="button" href="{{report-issue-link}}" class="btn btn-default github_control_btn btn-buy" id="submit_issue">
                            <span class="top-text">Report</span>
                            <span class="bottom-text">an Issue</span> 
                        </a>
                        <a type="button" href="{{edit-me-link | replace: " ", "" }}" class="btn btn-default github_control_btn btn-buy" id="edit_on_github">
                            <span class="top-text">Edit</span>
                            <span class="bottom-text">on Github</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    {% else %}
        {% capture github-home %}{{site.data.settings.edit-on-github.repo}}{% endcapture %}
        {% capture github-docs %}{{site.data.settings.edit-on-github.repo}}/tree/master/{% endcapture %}
        {% capture report-issue-link %}
        {{site.data.settings.edit-on-github.repo}}/issues/new?title=Problem+with+{{page-path}}&body=Please+enter+some+details+about+the+bug/issue+so+we+can+promptly+resolve+it.+%0D%0AURL%3A++{{site.url}}{{page.url}}
        {% endcapture %}    
        {% capture edit-me-link %}{{github-docs}}{{page-path}}{% endcapture %}
        <div class="row content github-edit">
            <div class="container">
                <div class="edit-me-on-github text-center">
                    <div class="btn-group btn-group-xs" role="group" id="github_controls">
                        <a type="button" href="{{github-home}}" class="btn btn-default github_control_btn btn-buy" id="github_home">
                            <i class="icon-github-circled center-block"></i>
                        </a>
                        <a type="button" href="{{report-issue-link}}" class="btn btn-default github_control_btn btn-buy" id="submit_issue">
                            <span class="top-text">Report</span>
                            <span class="bottom-text">an Issue</span> 
                        </a>
                        <a type="button" href="{{edit-me-link | replace: " ", "" }}" class="btn btn-default github_control_btn btn-buy" id="edit_on_github">
                            <span class="top-text">Edit</span>
                            <span class="bottom-text">on Github</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% endunless %}