<head>
    <title>
        {% if page.title %}
                 {{page.title}} - {{site.title}}
        {% elsif site.data.company.slogan %}
                {{site.title}} - {{site.data.company.slogan}}
        {% else %}
                {{site.title}}
        {% endif %}
    </title>
    
    {% include css.html %}
    
    <link rel="icon" href="{% if site.data.settings.favicon %}
    {% asset_path '{{site.data.settings.favicon}}'  %}
    {% endif %}" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    
    {% if site.data.settings.google-analytics.tag-manager %}
      {% include google-tag-manager.html %}
    {% endif %}
    
    {% if site.data.settings.google-analytics.analytics %}
        {% include google-analytics.html %}
    {% endif %}
    
    {% if page.keywords %}
        <meta name="keywords" content="{{page.keywords}}">
    {% endif %}
    
    {% seo title=false %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    {% if site.schema %}
        {% include schema.html %}
    {% endif %}
    
</head>
