{% if include.alt %}
    {% capture image_alt %}{{include.alt}}{% endcapture %}
{% else %}
    {% capture image_alt %}{{page.title}} content image{% endcapture %}
{% endif %}
{% if include.class %}
    {% capture image_class %}{{include.class}}{% endcapture %}
{% else %}
    {% capture image_class %}{% endcapture %}
{% endif %}
{% if include.url %}
<a href="{{include.url}}" target="_blank">
{% endif %}
{% picture blog_image {{include.path}} class="{{image_class}}"  --alt {{image_alt}} --class {{image_class}} %}
{% if include.url %}
</a>
{% endif %}
