{% if include.pageJS %}
    {% capture js-package %}package-{{include.pageJS}}{% endcapture %}
    <script type="text/javascript" src="{% asset_path {{js-package}}  %}?v={% bust_cache %}"></script>
{% elsif include.layoutJS %}
    {% capture js-package %}package-{{include.layoutJS}}{% endcapture %}
    <script type="text/javascript" src="{% asset_path {{js-package}}  %}?v={% bust_cache %}"></script>
{% else %}
    <script type="text/javascript" src="{% asset_path package %}?v={% bust_cache %}"></script>
{% endif %}

