<div class="row {% if page.jumbotron.background-image %}background-image {% endif %}{% if site.data.settings.jumbotron.darken %}overlay{% endif %}" id="jumbotron" 
{% if page.jumbotron.background-image %}
    style="background-image: url('{{page.jumbotron.background-image}}');"
{% else %}
    class="jumbotron text-center featured-jumbotron"
{% endif %}> <!--Row -->
    <div id="jumbotron-content" class=" flex-container"> <!--Jumbotron div -->        
        <div class="container flex-center" id="jumbotron-text"> <!--Container -->
        {% if page.jumbotron.title %}
        {% if page.jumbotron.title.lines %}
            <h1>
       
            {% for line in page.jumbotron.title.lines %}
                
            {% endfor %}
            </h1>
        {% else %}
            <h1 class="{% if page.jumbotron.animation == "fade" %}fade-in-one{% endif %}" id="jumbotron-heading">
                {{page.jumbotron.title}}
            </h1>
        {% endif %}
        {% elsif page.title %}
        <h1 class="{% if page.jumbotron.animation == "fade" %}fade-in-one{% endif %}" id="jumbotron-heading">
            {{page.title}}
        </h1>
        {% else %}
            <h1 class="{% if page.jumbotron.animation == "fade" %}fade-in-one{% endif %}" id="jumbotron-heading">
                {{site.title}}
            </h1>
        {% endif %}
        {% if page.jumbotron.description %}
            <p class="center-block {% if page.jumbotron.animation == "fade" %}fade-in-two{% endif %}" id="jumbotron-sub-title">
                {{page.jumbotron.description}}
            </p>
        {% elsif page.description %}
            <p class="center-block {% if page.jumbotron.animation == "fade" %}fade-in-two{% endif %}" id="jumbotron-sub-title">
            {{page.description}}
            </p>
        {% endif %}
        {% if page.jumbotron.buttons %}
        <p id="buttons">
            {% for button in page.jumbotron.buttons %}
            <a class="{% if button.class %}{{button.class}}{% else %}btn btn-primary btn-lg{% endif %} {% if page.jumbotron.animation == "fade" %}fade-in-three{% endif %}" href="{{button.url}}" role="button">
                {{button.title}} {% if button.icon %}<i class="{{button.icon}}"></i>{% endif %}
            </a>
            {% endfor %}
        </p>
        {% endif %}
        </div><!-- End Jumbotron Container Div -->  
    </div> <!--End Jumbotron div -->        
</div> <!--row -->