<div class="row {% if site.data.settings.jumbotron.darken %}overlay{% endif %}" id="jumbotron" 
{% if page.jumbotron.background-image %}
    style="background-image: url('{{page.jumbotron.background-image}}');"
{% else %}
    class="jumbotron text-center featured-jumbotron"
{% endif %}> <!--Row -->
    <div id="jumbotron-content" class=" flex-container"> <!--Jumbotron div -->        
        <div class="container flex-center" id="jumbotron-text"> <!--Container -->
        {% if page.title %}
        <h1 class="{% if page.carousel-header.animation == "fade" %}fade-in-one{% endif %}" id="jumbotron-heading">
            {{page.title}}
        </h1>
        {% if page.description %}
            <p class="center-block {% if page.carousel-header.animation == "fade" %}fade-in-two{% endif %}" id="jumbotron-sub-title">
            {{page.description}}
            </p>
        {% endif %}
        {% if page.carousel-header.buttons %}
        <p id="buttons">
            {% for button in page.carousel-header.buttons %}
            <a class="btn btn-primary btn-lg {% if page.carousel-header.animation == "fade" %}fade-in-three{% endif %}" href="{{button.url}}" role="button">
                {{button.title}} <i class="{{button.class}}"></i>
            </a>
            {% endfor %}
        </p>
        {% endif %}
        {% else %}
            {% include header-content %}
        {% endif %}
        </div><!-- End Jumbotron Container Div -->  
    </div> <!--End Jumbotron div -->        
</div> <!--row -->