{% assign resizedImageTypes = "jpg,jpeg,png" | split: ',' %}
{% assign resized = false %}
{% for imageType in resizedImageTypes %}
    {% if include.path contains imageType %}
        {% assign resized = true %}
    {% endif %}
{% endfor %}

{% if resized %}
{% assign webpImage = include.path | replace: "/assets/images", "/assets/images/webp"| split: "." %}
{% assign webpImage =  webpImage[0] | append: ".webp" %}
{% assign imageType = "image/" | append: include.type %}

{% assign smallImage = include.path | replace: '/assets/images' , '/assets/images/400' %}
{% assign mediumImage = include.path | replace: '/assets/images' , '/assets/images/800' %}
{% assign largeImage = include.path | replace: '/assets/images' , '/assets/images/1400' %}

<picture>
<!--[if IE 9]><video style="display: none;><![endif]-->
<source data-srcset="{{smallImage | replace: '/assets/images', '/assets/images/webp' | replace: include.type, 'webp'}}" media="(max-width: 480px)" type="image/webp" />
<source data-srcset="{{smallImage}}" media="(max-width: 480px)" type="{{imageType}}" />
<source data-srcset="{{mediumImage | replace: '/assets/images', '/assets/images/webp' | replace: include.type, 'webp'}}" media="(max-width: 900px)" type="image/webp" />
<source data-srcset="{{mediumImage}}" media="(max-width: 900px)" type="{{imageType}}" />
<source data-srcset="{{largeImage | replace: '/assets/images', '/assets/images/webp' | replace: include.type, 'webp'}}" media="(max-width: 1400px)" type="image/webp" />
<source data-srcset="{{largeImage}}" media="(max-width: 1400px)" type="{{imageType}}" />
<source data-srcset="{{include.path | replace: '/assets/images', '/assets/images/webp' | replace: include.type, 'webp'}}" type="image/webp"/>
<source data-srcset="{{include.path}}" type="{{imageType}}"/>
<!--[if IE 9]></video><![endif]-->
<img data-src="{{largeImage}}" class="lazyload" alt="{{include.alt}}" />
</picture>
{% else %}
<img  data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="{{include.image}}"
 alt="{{include.alt}}" class="lazyload"/>
{% endif %}
