<script type="application/ld+json">
{
 "@context": "http://schema.org",
 "@graph": [
     
{% unless page.not-organisation %}
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "{{site.schema.organisation.name}}",
  "url" : "{{site.schema.organisation.url}}",
  "sameAs" : [
      "https://twitter.com/linaroorg",
      "https://www.facebook.com/LinaroOrg",
      "https://www.linkedin.com/company/1026961/",
      "https://plus.google.com/+LinaroOnAir",
      "https://github.com/Linaro",
      "https://www.slideshare.net/linaroorg"
    ],
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{site.schema.organisation.address.street}}",
        "addressLocality": "{{site.schema.organisation.address.town}}",
        "addressRegion": "{{site.schema.organisation.address.county}}",
        "postalCode": "{{site.schema.organisation.address.post_code}}",
        "addressCountry": "{{site.schema.organisation.address.country_code}}"
    }
    "subOrganization": [{
          "@context" : "http://schema.org",
          "@type" : "Organization",
          "name" : "96boards",
          "url" : "https://www.96boards.org",
          "sameAs" : [
              "https://twitter.com/96Boards",
              "https://www.facebook.com/96Boards",
              "https://www.linkedin.com/company/6637095",
              "https://plus.google.com/106009833460292139774/posts",
              "https://github.com/96boards",
              "http://slideshare.com/96boards"
            ]
    },
    {
          "@context" : "http://schema.org",
          "@type" : "Organization",
          "name" : "DeviceTree",
          "url" : "https://www.devicetree.org"
    },
    {
          "@context" : "http://schema.org",
          "@type" : "Organization",
          "name" : "Linaro Connect",
          "url" : "http://connect.linaro.org"
    },
    {
          "@context" : "http://schema.org",
          "@type" : "Organization",
          "name" : "OpenDataPlane",
          "url" : "https://www.opendataplane.org"
    },
    {
          "@context" : "http://schema.org",
          "@type" : "Organization",
          "name" : "96boards AI",
          "url" : "https://www.96boards.ai"
    },
    {
          "@context" : "http://schema.org",
          "@type" : "Organization",
          "name" : "OP TEE",
          "url" : "https://www.op-tee.org"
    }]
}
{% endunless %}

{% if page.is_post %}
{% assign author = site.data.authors | where: "name", page.author | first %}
,{
 "@type": "BlogPosting",
 "headline": "{{page.title}}",
 "image": "{{site.url}}{{page.image.path}}",
 "keywords": "{{page.keywords}}", 
 "wordcount": "{{page.content | number_of_words }}",
 "url": "{{page.url}}",
 "datePublished": "{{page.date}}",
 "description": "{% if page.description %}{{page.description}}{% else %}{{page.excerpt }}{% endif %}",
 "articleBody": "{{page.content}}",
   "author": {
    "@type": "Person",
    "name": "{% if author.name %}{{author.name}}{% else %}{{page.author}}{% endif %}"
  }
}
{% endif %}
{% if page.is_a_product %}
{% assign product =  site.data.product_db.products | where: "product_permalink", page.permalink | first %}
,{
  "@context": "http://www.schema.org",
  "@type": "product",
  "brand": "Acme",
  "logo": "http://www.example.com/logo.png",
  "name": "WidgetPress",
  "category": "Widgets",
  "image": "http://www.example.com/image.jpg",
  "description": "This is an excellent widget with 21 features and 4 colors.",
  "aggregateRating": {
    "@type": "aggregateRating",
    "ratingValue": "5",
    "reviewCount": "21"
  }
}
{% endif %}
 ]
}
</script>