<script type="application/ld+json">
{
 "@context": "http://schema.org",
 "@graph": [
     {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "{{site.data.settings.schema.organisation.name}}",
    "url" : "{{site.data.settings.schema.organisation.url}}",
    "sameAs" : [
        {% if site.data.settings.twitter_username %}"https://twitter.com/{{site.data.settings.twitter_username}}",{% endif %}
        {% if site.data.settings.facebook_username %}"https://www.facebook.com/{{site.data.settings.facebook_username}}",{% endif %}
        {% if site.data.settings.linkedin_username %}"https://www.linkedin.com/company/{{site.data.settings.linkedin_username}}",{% endif %}
        {% if site.data.settings.google_plus_username %}"https://plus.google.com/{{site.data.settings.google_plus_username}}",{% endif %}
        {% if site.data.settings.github_username %}"https://github.com/{{site.data.settings.github_username}}",{% endif %}
        {% if site.data.settings.slideshare_username %}"https://www.slideshare.net/{{site.data.settings.slideshare_username}}"{% endif %}
        ],
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "{{site.data.settings.schema.organisation.address.street}}",
            "addressLocality": "{{site.data.settings.schema.organisation.address.town}}",
            "addressRegion": "{{site.data.settings.schema.organisation.address.county}}",
            "postalCode": "{{site.data.settings.schema.organisation.address.post_code}}",
            "addressCountry": "{{site.data.settings.schema.organisation.address.country_code}}"
        }
    }
{% if include.is_post %}
{% assign author = site.data.authors | where: "name", include.included_page.author | first %}
,{
 "@type": "BlogPosting",
 "headline": "{{include.included_page.title}}",
 "image": "{{site.url}}{{include.included_page.image.path}}",
 "keywords": "{{include.included_page.keywords}}", 
 "wordcount": "{{include.included_page.content | number_of_words }}",
 "url": "{{include.included_page.url}}",
 "datePublished": "{{include.included_page.date}}",
 "description": "{% if include.included_page.description %}{{include.included_page.description}}{% else %}{{include.included_page.excerpt }}{% endif %}",
 "articleBody": "{{include.included_page.content}}",
   "author": {
    "@type": "Person",
    "name": "{% if author.name %}{{author.name}}{% else %}{{include.included_page.author}}{% endif %}"
  }
}
{% endif %}
]}
</script>