<div class="container-fluid"> <!--Fluid Container -->
    <div class="row"> <!--Row -->
        <div id="homepage-jumbotron"
        
            {% if site.data.settings.home.jumbotron.background %}
                style="background: #000 url({{site.data.settings.home.jumbotron.background}}) no-repeat center center fixed;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-position-y: 80px;"
                class="jumbotron text-center homepage-jumbotron homepage-image-jumbotron"
            {% else %}
                class="jumbotron text-center homepage-jumbotron"
            {% endif %} > <!--Jumbotron div -->
            
        <div class="container"> <!--Container -->
            
            {% if site.data.company.home.hero-image %}
                <div class="col-md-12">
                    <img src="{{site.data.company.home.hero-image}}" id="home-hero-image" class="img-responsive center-block animated fadeIn" alt="{{site.title}} Home Page Image">
                </div>
            {% endif %}

            {% if site.data.settings.home.jumbotron.title %}
                <h1 id="home-page-title" class="fade-in-one" id="homepage-heading">
                    {{site.data.settings.home.jumbotron.title.first-line}}<br />
                    <b>{{site.data.settings.home.jumbotron.title.second-line}}</b>
                </h1>
            {% endif %}

            {% if site.data.settings.home.jumbotron.text %}
                <p id="home-page-text" class="sub-tag center-block fade-in-two">
                    <span>{{site.data.settings.home.jumbotron.text.first-line}}</span><br />
                    <span>{{site.data.settings.home.jumbotron.text.second-line}}</span>
                </p>
            {% endif %}

            {% if site.data.settings.home.jumbotron.buttons %}
                <p id="buttons">
                    {% for button in site.data.settings.home.jumbotron.buttons %}
                        <a class="{{button.class}}" href="{{button.url}}" role="button">{{button.text}}</a>
                    {% endif %}
                </p>
            {% endif %}
            
          </div> <!--End Container -->
          
          {% include _theme-includes/_page-structure/shape-divider.html %}
      </div> <!--End Jumbotron div -->
    </div> <!--row -->
</div> <!--End Container-fluid -->
