<div class="row">
    <div class="homepage-shape">
      <svg width="100%" height="130px">
        <defs>
          <pattern id="shapeDividerPattern-4" preserveaspectratio="none" style="background-repeat: none;" patternunits="userSpaceOnUse" x="0" y="0" width="100%" height="1300px" viewbox="0 0 100 1300">
            <polygon fill="#ffffff" points="0,0 0,130 50,130 "></polygon>
            <polygon fill="#ffffff" points="100,0 100,130 50,130 "></polygon>
          </pattern>
        </defs>
        <!-- Background -->
        <rect x="0" y="0" width="100%" height="130px" fill="url(#shapeDividerPattern-4)"></rect>
      </svg>
    </div>    
</div>
