{% if site.social_media_channels.twitter %}
<a href="{{site.social_media_channels.twitter.url}}" class="btn btn-social-icon"><span class="sr-only">Go to Twitter profile</span><i
        class="icon-twitter"></i></a>
{% endif %}
{% if site.social_media_channels.facebook %}
<a href="{{site.social_media_channels.facebook.url}}" class="btn btn-social-icon"><span class="sr-only">Go to Facebook Page</span><i
        class="icon-facebook"></i></a>
{% endif %}
{% if site.social_media_channels.linkedin %}
    <a href="{{site.social_media_channels.linkedin.url}}" class="btn btn-social-icon"><span class="sr-only">Go to LinkedIn profile</span><i
            class="icon-linkedin"></i></a>
{% endif %}
{% if site.social_media_channels.instagram %}
    <a href="{{site.social_media_channels.instagram.url}}" class="btn btn-social-icon"><span class="sr-only">Go to instagram social media page</span><i
            class="icon-instagram"></i></a>
{% endif %}
{% if site.social_media_channels.youtube %}
    <a href="{{site.social_media_channels.youtube.url}}" class="btn btn-social-icon"><span class="sr-only">Go to YouTube channel</span><i
            class="icon-youtube"></i></a>
{% endif %}
{% if site.social_media_channels.github %}
<a href="{{site.social_media_channels.github.url}}" class="btn btn-social-icon"><span class="sr-only">Go to GitHub Page</span><i
        class="icon-github-circled"></i></a>
{% endif %}
