{% assign sub-nav-tabs = site.data.sub-nav-stacked.pages %}
{% if sub-nav-tabs %}
    {% assign page-base =  page.url | split:'/' %}
    {% for each in sub-nav-tabs %}
        {% for each-url in each.urls %}
            {% if each-url == page.url or each.url == page-base[1] %}
                {% assign tab-list = each.list %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if tab-list %}
        <ul class="nav nav-pills nav-stacked">
            {% for tab in tab-list %}
                <li class="{% if page-base[1] == tab.base  %}active {% elsif page.url == tab.url or tab.active %}active {% elsif page.url contains tab.url %}active {% endif %}side-nav-button">
                    <a href="{{tab.url}}" role="link">{{ tab.title}} {% if tab.external %}<i class="glyphicon glyphicon-new-window pull-right"></i>{% endif %}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
