{% if page.sticky-tab-bar %}
    {% assign tab-list = page.sticky-tab-bar %}
{% else %}
    {% assign sub-nav-tabs = site.data.sticky-tab-bar.pages %}
{% endif %}
{% if sub-nav-tabs %}
    {% assign page-base =  page.url | split:'/' %}
    {% for each in sub-nav-tabs %}
        {% for each-url in each.urls %}
            {% if each-url == page.url %}
                {% if each.list %}
                    {% assign tab-list = each.list %}
                {% endif %}
            {% elsif each.sub-pages-enabled %}
                {% if page.url contains each-url %}
                    {% assign tab-list = each.list %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if each.custom-include %}
            {% assign custom-include = each.custom-include %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if tab-list %}
<div class="tabbed-area non-sticky-nav" id="tabbed-nav-bar"><!-- Nav tabs Wrapper-->
    <nav class="navbar-default" role="navigation"><!-- Nav -->
        <div class="container">
            <div class="navbar-header"><!-- Navbar Header -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tabbed-nav-bar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button><!-- Navbar Icon Bar Toggle -->
                <a class="navbar-brand" id="sub-navigation-header" href=""></a><!-- Navbar Brand -->
            </div>
            <div class="collapse navbar-collapse" id="tabbed-nav-bar-collapse"><!-- Navbar Collapse -->
                <ul class="nav nav-tabs tabbed-nav" id="tab-row" role="tablist">
                    {% for tab in tab-list %}
                        <li role="presentation" {% if page.url == tab.url %}
                                                    class="active tabbed-nav-btn {% if tab.right %}pull-right{% endif %}"
                                                {% elsif tab.sub-pages and page.url contains tab.url %}
                                                    class="active tabbed-nav-btn {% if tab.right %}pull-right{% endif %}"
                                                {% elsif tab.active %}
                                                    class="active tabbed-nav-btn {% if tab.right %}pull-right{% endif %}"
                                                {% else %}
                                                    class="tabbed-nav-btn {% if tab.right %}pull-right{% endif %}"
                                                {% endif %}>
                                    <a href="{{tab.url}}" aria-controls="overview" role="link">{{tab.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>
{% elsif custom-include %}
    {% include {{custom-include}}.html %}
{% else %}
No sticky-nav.yml content found - please add to _data/sticky-tab-bar.yml. More information available <a href="/jekyll/includes/sticky-tab-bar/">here</a>.
{% endif %}