{% assign sub-nav-tabs = site.data.sticky-tab-bar.pages %}

{% if sub-nav-tabs %}

    {% assign page-base =  page.url | split:'/' %}
    
    {% for each in sub-nav-tabs %}
        {% for each-url in each.urls %}
            {% if each-url == page.url or each.url == page-base[1] %}
                {% if each.list %}
                    {% assign tab-list = each.list %}
                {% endif %}
            {% elsif each.sub-pages-enabled %}
                {% for individual-page in each.list %}
                    {% if individual-page.sub-pages %}
                        {% if page.url contains individual-page.url %}
                            {% assign tab-list = each.list %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% if each.custom-include %}
            {% assign custom-include = each.custom-include %}
        {% endif %}
    {% endfor %}
    
    
    {% if tab-list %}

<div class="tabbed-area non-sticky-nav" id="tabbed-nav-bar"><!-- Nav tabs Wrapper-->
  <div class="container-fluid tabbed-container-fluid">
    <div class="container">
    <nav class="navbar-default" role="navigation"><!-- Nav -->
            <div class="navbar-header"><!-- Navbar Header -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tabbed-nav-bar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!-- Navbar Icon Bar Toggle -->
                <a class="navbar-brand" id="sub-navigation-header" href=""></a><!-- Navbar Brand -->
            </div>
            <div class="collapse navbar-collapse" id="tabbed-nav-bar-collapse"><!-- Navbar Collapse -->
                <ul class="nav nav-tabs tabbed-nav" id="tab-row" role="tablist">
                    {% for tab in tab-list %}
                        <li role="presentation" {% if page.url == tab.url %}
                                                    class="active tabbed-nav-btn"
                                                {% else %}
                                                    class="tabbed-nav-btn"
                                                {% elsif tab.sub-pages and page.url contains tab.url %}
                                                    class="active tabbed-nav-btn"
                                                {% endif %}>
                                    <a href="{{tab.url}}" aria-controls="overview" role="link">{{tab.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
    </nav>
    </div>
  </div>
</div>
    {% elsif custom-include %}
        {% include {{custom-include}}.html %}
    {% else %}
No sticky-nav.yml content found - please add to _data/sticky-tab-bar.yml. More information available <a href="/jekyll/includes/sticky-tab-bar/">here</a>.
    {% endif %}
{% else %}
No sidebar settings found - please create a _data/sticky-tab-bar.yml data file. More information available <a href="/jekyll/includes/sticky-tab-bar/">here</a>.
{% endif %}
