{% assign sub-nav-tabs = site.data.sub-nav.pages %}
{% if sub-nav-tabs %}
    {% assign page-base =  page.url | split:'/' %}
    {% for each in sub-nav-tabs %}
        {% for each-url in each.urls %}
            {% if each-url == page.url or each.url == page-base[1] %}
                {% assign tab-list = each.list %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if tab-list %}
        <div class="tabbed-area" id="tabbed-nav-bar"><!-- Nav tabs -->
        <nav class="navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tabbed-nav-bar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" id="sub-navigation-header" href=""></a>
                </div>
                <div class="collapse navbar-collapse" id="tabbed-nav-bar-collapse">
                    <ul class="nav nav-tabs tabbed-nav" id="tab-row" role="tablist">
                        {% for tab in tab-list %}
                            <li role="presentation" class="{% if page-base[1] == tab.base  %}active {% elsif page.url == tab.url or tab.active %}active {% endif %}tabbed-nav-btn {% if tab.right %}pull-right{% endif %}"><a href="{{tab.url}}" role="link">{{ tab.title}}</a></li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
        </nav>
        </div>
    {% endif %}
{% endif %}
