<!-- Universal NavBar-->
<nav class="navbar navbar-default navbar-static" id="universal-nav">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-chevron-down"></span>
        <span class="glyphicon glyphicon-chevron-up"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
        {% for website in site.data.universal-nav %}
            {% if website.options %}
                <li class="dropdown {% for project-site in website.options %}{% if project-site.active %}active{% break %}{% endif %}{% endfor %}">
                    <a class="projects" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Projects <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for project-site in website.options %}
                        <li {% if project-site.active %}class="active" {% endif%}><a target="_self" href="{{project-site.url}}">{{projects-site.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li {% if website.active %}class="active" {% endif %}><a class="linaro" target="_self" href="{{website.url}}">{{website.title}}</a></li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
</nav>
<!-- End Universal NavBar -->