// Core Jumbo Jekyll Theme Sass includes.
@import "core/fonts";
@import "core/nav";
@import "core/theme";
@import "core/cookieconsent";
@import "core/footer";
@import "core/social-media-icons";
@import "core/breadcrumb";
@import "core/tables";
@import "core/forms";
