// Core Jumbo Jekyll Theme Sass includes.
@import "core/normalize";
@import "core/fonts";
@import "core/nav";
@import "core/theme";
@import "core/cookieconsent";
@import "core/footer";
@import "core/social-media-icons";
@import "core/breadcrumb";
@import "core/tables";
@import "core/forms";
@import "core/fa";
@import "core/fly";
@import "core/jumbotron";
@import "core/featherlight";
@import "core/animations";
@import "core/carousel-styles";
@import "core/owl.carousel.min";
@import "core/owl.theme.default.min";
@import "core/flow";
