---
layout: default-plain
specific_css: /assets/css/blog-pages.css
---
<div class="row blog-row">
    <div class="col-md-9">
        {{content}}
    </div>
    <div class="col-md-3">
              <div class="panel panel-default blog-panel">
                <div class="panel-heading">
                  <h3 class="panel-title">Recent Blogs</h3>
                </div>
                <div class="panel-body">
                    {% for blog in site.posts limit: 5 %}
                        <div class="featured_blog_post">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 no-padding">
                                   <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                   {% if site.using_assets == true %}
                                       {% if blog.featured_image %}
                                            data-src="{% asset_path '{{blog.featured_image}}' %}"
                                       {% else %}
                                            data-src="{% asset_path '{{site.data.company.placeholder}}'%}"
                                       {% endif %}
                                   {% else %}
                                       {% if blog.featured_image %}
                                            data-src="/assets{{blog.featured_image}}"
                                       {% else %}
                                            data-src="{% if site.data.company.placeholder %}{{site.data.company.placeholder}}{% else %}/assets/images/placeholder.png{% endif %}"
                                       {% endif %}
                                    {% endif %}
                                  alt="{{blog.title}}" class="img-responsive lazyload"/>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 ">
                                   <a href="{{blog.url}}">{{blog.title | truncate: 40}}</a>
                                   <br /><small><em>{{blog.date | date: "%A, %B %-d, %Y" }}</em></small>
                               </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
              </div>

    </div>
</div>
<div class="row">
{% include _theme-includes/_blog/pagination.html %}
</div>
