---
---
@import "custom";

@import 'bootstrap';
@import 'bootstrap/variables';

@import "core/fonts";
@import "core/font-awesome.min";
@import "core/nav";
@import "core/theme";
@import "core/cookieconsent";
@import "core/footer";
@import "core/owl.carousel.min";
@import "core/owl.theme.default.min";
@import "core/social-media-icons";
@import "core/breadcrumb";
@import "core/tables";

@import "core/animations";
