.fly {
    opacity: 0;
    transition: all 600ms ease-in-out;
    transform: translateY(100px) scale(1.05) translate3d(0, 0, 0);
}

.show-block {
    opacity: 1;
    transform: translateY(0) scale(1) translate3d(0, 0, 0);
}