#buttons >  a.btn.btn-linaro-home {
    color: black !important;
    font-weight: normal;
    font-size: 12px;
    background-color: white;
}

#buttons >  a.btn.btn-linaro-home:hover {
    color: white !important;
    font-weight: normal;
    font-size: 12px;
    background-color: $brand-primary;
}