// Theses are the Overrides of Bootstrap Sass Variables locatted in boostrap/_variables

$brand-primary: #20937b;

//Home 
$home-page-title-text: #000;
$home-page-main-title-color: $brand-primary;

// Footer
$footer-bg-color: #000;
$footer-text-color: #fff;

// Sub footer
$sub-footer-bg-color: #ccc;
$footer-border-color: #272727; 

// Navbar
$navbar-text-color: #fff !default;
$navbar-height: 66px;
$navbar-inverse-bg: #000;
$navbar-inverse-color: #fff;

// Breadcrumb
$breadcrumb-background-color: $brand-primary !default;
$breadcrumb-title-color: #fff !default;
$breadcrumb-span-color: #fff !default;

// Fonts
// Change the fonts used by Bootstrap here.
$font-family-sans-serif:  Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
