// Theses are the Overrides of Bootstrap Sass Variables locatted in boostrap/_variables
$brand-primary: #20937b;
//Home 
$home-page-title-text: #000;
$home-page-main-title-color: $brand-primary;
// Footer
$footer-bg-color: #000;
$footer-text-color: #fff;
// Sub footer
$sub-footer-bg-color: #ccc;
$footer-border-color: #272727; 
$text-color: rgba(0,0,0,.84);
// Navbar
$navbar-text-color: #fff !default;
$navbar-hover-text-color: #fff !default;
$navbar-hover-background-color: $brand-primary !default;
$navbar-height: 66px;
$navbar-inverse-bg: #000;
$navbar-inverse-color: #fff;
$navbar-submenu-bg-color: #3e3e3e !default;
$navbar-submenu-color: #fff !default;
// Breadcrumb
$breadcrumb-background-color: $brand-primary !default;
$breadcrumb-title-color: #fff !default;
$breadcrumb-span-color: #fff !default;
// Fonts
// Change the fonts used by Bootstrap here.
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato-regular/Lato-regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-regular/Lato-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-regular/Lato-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/lato-regular/Lato-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-regular/Lato-regular.svg') format('svg'); /* Legacy iOS */
}
// Fonts 
$font-family-sans-serif:  'Lato', Arial, sans-serif !default;
//Contact Page
$contact-banner-text-color: #fff !default;
// Jumbotron Settings
$jumbotron-height: 400px;
$overlay: 0.5;
$jumbotron-font-size-xs: 26px;
$jumbotron-font-size: 32px;
$jumbotron-heading-color: #fff !default;
$jumbotron-sub-title-font-size-xs: 16px;
$jumbotron-sub-title-font-size: 18px;
$jumbotron-sub-title-color: #fff !default;
// Tabbed Navbar
$tabbed-nav-bg-color: #ccc !default;
$tabbed-nav-text-color: #000 !default;
$tabbed-nav-hover-color: $brand-primary !default;
// Post tags
$post-tag-bg: #d7d7d7 !default;
$post-tag-color: #000 !default;
$post-tag-border: #8b8b8b !default;
$post-tag-hover-bg: #1f1f1f !default;
$post-tag-hover-color: #fff !default;
// Triangle Divider
$triangle-divider-bg-color: #fff !default;