<div class="col col-12 cookie_manager">
    <div class="row justify-content-lg-center">
        <div class="col col-12 col-sm-9">
            <h3>Necessary Cookies</h3>
            <p class="lead">
                We cannot disable neccessary cookies as these are required to remember your preferences
                for non-essential cookies.
            </p>
            <p>
                List of Necessary Cookies:
            </p>
            <table class="table">
                <thead>
                    <th>Cookie Name</th>
                    <th>Usage</th>
                </thead>
                <tbody>
                    {% for cookie in site.google_analytics.cookies.necessary %}
                    <tr>
                        <td>{{cookie.name}}</td>
                        <td>{{cookie.description | markdownify}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col col-12 col-sm-3">
            <div class="df-switch">
                <button type="button" class="btn btn-lg btn-toggle active" disabled data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                    <div class="inner-handle"></div>
                    <div class="handle"></div>
                </button>
            </div>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col col-12 col-sm-9" order-sm-1">
            <h3>Analytics Cookies</h3>
            <p class="lead" id="analytics_cookies_desc">
                <span class="disabled">Toggle this switch to enabled the collection of anonymous analytics data that helps us improve our site.</span>
                <span class="enabled">Toggle this switch to disable the collection of anonymous analytics data that helps us improve our site.</span>
            </p>
            <p>
                List of Analytics Cookies:
            </p>
            <table class="table">
                <thead>
                    <th>Cookie Name</th>
                    <th>Usage</th>
                </thead>
                <tbody>
                    {% for cookie in site.google_analytics.cookies.marketing %}
                    <tr>
                        <td>{{cookie.name}}</td>
                        <td>{{cookie.description | markdownify}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col col-12 col-sm-3">
            <div class="df-switch">
                <button id="analytics_toggle" type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                    <div class="inner-handle"></div>
                    <div class="handle"></div>
                </button>
            </div>
        </div>
    </div>
</div>
