<head>
    <meta charset="UTF-8">
    <title>
        {% if page.title %}
            {{page.title}} - {{site.title}}
        {% else %}
            {{site.title}}
        {% endif %}
    </title>
    {% include components/css.html %}
    <link rel="icon" href="{{site.data.settings.favicon}}" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include_cached components/google_analytics.html %}
    {% if page.keywords %}
        <meta name="keywords" content="{{page.keywords}}">
    {% endif %}
    {% seo title=false %}
    {% include_cached components/schema.html is_post=page.is_post included_page=page %}
</head>
