<script type="application/ld+json">
{
 "@context": "http://schema.org",
 "@graph": [
     {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "{{site.data.settings.schema.organisation.name}}",
    "url" : "{{site.data.settings.schema.organisation.url}}",
    "sameAs" : [
            {% for social_media_channel in site.data.settings.social_media_channels %}
                {{social_media_channel.url}}{% unless forloop.last %},{% endunless%}
            {% endfor %}
        ],
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "{{site.data.settings.schema.organisation.address.street}}",
            "addressLocality": "{{site.data.settings.schema.organisation.address.town}}",
            "addressRegion": "{{site.data.settings.schema.organisation.address.county}}",
            "postalCode": "{{site.data.settings.schema.organisation.address.post_code}}",
            "addressCountry": "{{site.data.settings.schema.organisation.address.country_code}}"
        }
    }
{% if include.is_post %}
{% assign author = site.data.authors | where: "name", include.included_page.author | first %}
,{
 "@type": "BlogPosting",
 "headline": "{{include.included_page.title}}",
 "image": "{{site.url}}{{include.included_page.image.path}}",
 "keywords": "{{include.included_page.keywords}}",
 "wordcount": "{{include.included_page.content | number_of_words }}",
 "url": "{{include.included_page.url}}",
 "datePublished": "{{include.included_page.date}}",
 "description": "{% if include.included_page.description %}{{include.included_page.description}}{% else %}{{include.included_page.excerpt }}{% endif %}",
 "articleBody": "{{include.included_page.content}}",
   "author": {
    "@type": "Person",
    "name": "{% if author.name %}{{author.name}}{% else %}{{include.included_page.author}}{% endif %}"
  }
}
{% endif %}
]}
</script>
