<div class="row content-row p-b-40 p-t-40" id="sponsor-table" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.43)),  url(/assets/images/breadcrumb-image.jpg);">
    <div class="container">
        <h2>Sponsorship Options</h2>
            <table class="table d-none d-sm-block">
                <thead>
                    <tr>
                        <th></th>
                        <th data-sponsor-type="lead">Lead</th>
                        <th data-sponsor-type="break">Break</th>
                        <th data-sponsor-type="lunch">Lunch</th>
                        <th data-sponsor-type="t-shirt">T-Shirt</th>
                        <th data-sponsor-type="social">Social</th>
                        <th data-sponsor-type="giveaway">Giveaway</th>
                        <th data-sponsor-type="exhibition">Exhibition</th>
                        <th data-sponsor-type="lanyards">Lanyards</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th data-sponsor-type="lead">$26K</th>
                        <th data-sponsor-type="break">$16K</th>
                        <th data-sponsor-type="lunch">$13K</th>
                        <th data-sponsor-type="t-shirt">$12K</th>
                        <th data-sponsor-type="social">$11K</th>
                        <th data-sponsor-type="giveaway">$5-10K</th>
                        <th data-sponsor-type="exhibition">$7K</th>
                        <th data-sponsor-type="team-dinner">$6K</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Event Entry Package <br>
                            <small>Compilmentary 5-day passes</small>
                        </td>
                        <td data-sponsor-type="lead"><span class="tickets">6</span></td>
                        <td data-sponsor-type="break"><span class="tickets">4</span></td>
                        <td data-sponsor-type="lunch"><span class="tickets">3</span></td>
                        <td data-sponsor-type="t-shirt"><span class="tickets">2</span></td>
                        <td data-sponsor-type="social"><span class="tickets">2</span></td>
                        <td data-sponsor-type="giveaway"><span class="tickets">2</span></td>
                        <td data-sponsor-type="exhibition"><span class="tickets">1</span></td>
                        <td data-sponsor-type="lanyards"><span class="tickets">1</span></td>
                    </tr>
                    <tr>
                        <td>
                            Branding Package <br>
                            <small>
                                Company logo on event graphics and stage,
                                Connect website, General email and
                                Social Media promotions
                            </small>
                        </td>
                        <td data-sponsor-type="lead"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="break"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="lunch"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="t-shirt"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="social"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="giveaway"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="exhibition"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="lanyards"><span class="fa fa-check"></span></td>
                    </tr>
                    <tr>
                        <td>
                            Communications Package <br>
                            <small>
                                One email blast to all registered
                                Linaro Connect attendees
                                One blog post on Linaro Connect website
                                One Slide on Daily Notices presentation
                            </small>
                        </td>
                        <td data-sponsor-type="lead"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="break"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="lunch"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="t-shirt"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="social"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="giveaway"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="exhibition"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="lanyards"><span class="fa fa-check"></span></td>
                    </tr>
                    <tr>
                        <td>
                            Video Package <br>
                            <small>
                                One 2 minute video - subject to
                                Event Team approval
                            </small>
                        </td>
                        <td data-sponsor-type="lead"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="break"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="lunch"></td>
                        <td data-sponsor-type="t-shirt"></td>
                        <td data-sponsor-type="social"></td>
                        <td data-sponsor-type="giveaway"></td>
                        <td data-sponsor-type="exhibition"></td>
                        <td data-sponsor-type="lanyards"></td>
                    </tr>
                    <tr>
                        <td>
                            Exhibition Package <br>
                            <small>
                                One exhibition table throughout the week
                                including Demo Friday
                            </small>
                        </td>
                        <td data-sponsor-type="lead"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="break"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="lunch"></td>
                        <td data-sponsor-type="t-shirt"></td>
                        <td data-sponsor-type="social"></td>
                        <td data-sponsor-type="giveaway"></td>
                        <td data-sponsor-type="exhibition"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="lanyards"></td>
                    </tr>
                    <tr>
                        <td>
                            Additional Lead Sponsor benefit <br>
                            <small>
                                Early access to meeting room schedule
                                (one week before official schedule launch)
                            </small>
                        </td>
                        <td data-sponsor-type="lead"><span class="fa fa-check"></span></td>
                        <td data-sponsor-type="break"></td>
                        <td data-sponsor-type="lunch"></td>
                        <td data-sponsor-type="t-shirt"></td>
                        <td data-sponsor-type="social"></td>
                        <td data-sponsor-type="giveaway"></td>
                        <td data-sponsor-type="exhibition"></td>
                        <td data-sponsor-type="lanyards"></td>
                    </tr>

                </tbody>
            </table>
            <div class="panel panel-sponsor d-block d-sm-none" data-sponsor-type="lead">
                <div class="panel-heading">
                    <h3 class="panel-title">Lead</h3>
                    <div class="pricing">$26K</div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Event Entry Package <br>
                            <small>Compilmentary 5-day passes</small>
                            <span class="tickets center-block">6</span>
                        </li>
                        <li class="list-group-item">
                            Branding Package <br>
                            <small>
                                Company logo on event graphics and stage,
                                Connect website, General email and
                                Social Media promotions
                            </small>
                        </li>
                        <li class="list-group-item">
                            Communications Package <br>
                            <small>
                                One email blast to all registered

                                Linaro Connect attendees
                                One blog post on Linaro Connect website
                                One Slide on Daily Notices presentation
                            </small>
                        </li>
                        <li class="list-group-item">
                            Video Package <br>
                            <small>
                                One 2 minute video - subject to
                                Event Team approval
                            </small>
                        </li>
                        <li class="list-group-item">
                            Exhibition Package <br>
                            <small>
                                One exhibition table throughout the week
                                including Demo Friday
                            </small>
                        </li>
                        <li class="list-group-item">
                            Additional Lead Sponsor benefit <br>
                            <small>
                                Early access to meeting room schedule
                                (one week before official schedule launch)
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-sponsor d-block d-sm-none" data-sponsor-type="lead">
                <div class="panel-heading">
                    <h3 class="panel-title">Break</h3>
                    <div class="pricing">$16K</div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Event Entry Package <br>
                            <small>Compilmentary 5-day passes</small>
                            <span class="tickets center-block">4</span>
                        </li>
                        <li class="list-group-item">
                            Branding Package <br>
                            <small>
                                Company logo on event graphics and stage,
                                Connect website, General email and
                                Social Media promotions
                            </small>
                        </li>
                        <li class="list-group-item">
                            Communications Package <br>
                            <small>
                                One email blast to all registered
                                Linaro Connect attendees
                                One blog post on Linaro Connect website
                                One Slide on Daily Notices presentation
                            </small>
                        </li>
                        <li class="list-group-item">
                            Video Package <br>
                            <small>
                                One 2 minute video - subject to
                                Event Team approval
                            </small>
                        </li>
                        <li class="list-group-item">
                            Exhibition Package <br>
                            <small>
                                One exhibition table throughout the week
                                including Demo Friday
                            </small>
                        </li>
                        <li class="list-group-item disabled">
                            Additional Lead Sponsor benefit <br>
                            <small>
                                Early access to meeting room schedule
                                (one week before official schedule launch)
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-sponsor d-block d-sm-none" data-sponsor-type="lead">
                <div class="panel-heading">
                    <h3 class="panel-title">Lunch</h3>
                    <div class="pricing">$13K</div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Event Entry Package <br>
                            <small>Compilmentary 5-day passes</small>
                            <span class="tickets center-block">3</span>
                        </li>
                        <li class="list-group-item">
                            Branding Package <br>
                            <small>
                                Company logo on event graphics and stage,
                                Connect website, General email and
                                Social Media promotions
                            </small>
                        </li>
                        <li class="list-group-item">
                            Communications Package <br>
                            <small>
                                One email blast to all registered
                                Linaro Connect attendees
                                One blog post on Linaro Connect website
                                One Slide on Daily Notices presentation
                            </small>
                        </li>
                        <li class="list-group-item disabled">
                            Video Package <br>
                            <small>
                                One 2 minute video - subject to
                                Event Team approval
                            </small>
                        </li>
                        <li class="list-group-item disabled">
                            Exhibition Package <br>
                            <small>
                                One exhibition table throughout the week
                                including Demo Friday
                            </small>
                        </li>
                        <li class="list-group-item disabled disabled">
                            Additional Lead Sponsor benefit <br>
                            <small>
                                Early access to meeting room schedule
                                (one week before official schedule launch)
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-sponsor d-block d-sm-none" data-sponsor-type="lead">
                <div class="panel-heading">
                    <h3 class="panel-title">T-Shirt</h3>
                    <div class="pricing">$12K</div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Event Entry Package <br>
                            <small>Compilmentary 5-day passes</small>
                            <span class="tickets center-block">2</span>
                        </li>
                        <li class="list-group-item">
                            Branding Package <br>
                            <small>
                                Company logo on event graphics and stage,
                                Connect website, General email and
                                Social Media promotions
                            </small>
                        </li>
                        <li class="list-group-item">
                            Communications Package <br>
                            <small>
                                One email blast to all registered
                                Linaro Connect attendees
                                One blog post on Linaro Connect website
                                One Slide on Daily Notices presentation
                            </small>
                        </li>
                        <li class="list-group-item disabled">
                            Video Package <br>
                            <small>
                                One 2 minute video - subject to
                                Event Team approval
                            </small>
                        </li>
                        <li class="list-group-item disabled">
                            Exhibition Package <br>
                            <small>
                                One exhibition table throughout the week
                                including Demo Friday
                            </small>
                        </li>
                        <li class="list-group-item disabled disabled">
                            Additional Lead Sponsor benefit <br>
                            <small>
                                Early access to meeting room schedule
                                (one week before official schedule launch)
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-sponsor d-block d-sm-none" data-sponsor-type="lead">
                <div class="panel-heading">
                    <h3 class="panel-title">Social</h3>
                    <div class="pricing">$11K</div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Event Entry Package <br>
                            <small>Compilmentary 5-day passes</small>
                            <span class="tickets center-block">2</span>
                        </li>
                        <li class="list-group-item">
                            Branding Package <br>
                            <small>
                                Company logo on event graphics and stage,
                                Connect website, General email and
                                Social Media promotions
                            </small>
                        </li>
                        <li class="list-group-item">
                            Communications Package <br>
                            <small>
                                One email blast to all registered
                                Linaro Connect attendees
                                One blog post on Linaro Connect website
                                One Slide on Daily Notices presentation
                            </small>
                        </li>
                        <li class="list-group-item disabled">
                            Video Package <br>
                            <small>
                                One 2 minute video - subject to
                                Event Team approval
                            </small>
                        </li>
                        <li class="list-group-item disabled">
                            Exhibition Package <br>
                            <small>
                                One exhibition table throughout the week
                                including Demo Friday
                            </small>
                        </li>
                        <li class="list-group-item disabled disabled">
                            Additional Lead Sponsor benefit <br>
                            <small>
                                Early access to meeting room schedule
                                (one week before official schedule launch)
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-sponsor d-block d-sm-none" data-sponsor-type="lead">
                <div class="panel-heading">
                    <h3 class="panel-title">Giveaway</h3>
                    <div class="pricing">$5-10K</div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Event Entry Package <br>
                            <small>Compilmentary 5-day passes</small>
                            <span class="tickets center-block">2</span>
                        </li>
                        <li class="list-group-item">
                            Branding Package <br>
                            <small>
                                Company logo on event graphics and stage,
                                Connect website, General email and
                                Social Media promotions
                            </small>
                        </li>
                        <li class="list-group-item">
                            Communications Package <br>
                            <small>
                                One email blast to all registered
                                Linaro Connect attendees
                                One blog post on Linaro Connect website
                                One Slide on Daily Notices presentation
                            </small>
                        </li>
                        <li class="list-group-item disabled">
                            Video Package <br>
                            <small>
                                One 2 minute video - subject to
                                Event Team approval
                            </small>
                        </li>
                        <li class="list-group-item disabled">
                            Exhibition Package <br>
                            <small>
                                One exhibition table throughout the week
                                including Demo Friday
                            </small>
                        </li>
                        <li class="list-group-item disabled disabled">
                            Additional Lead Sponsor benefit <br>
                            <small>
                                Early access to meeting room schedule
                                (one week before official schedule launch)
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-sponsor d-block d-sm-none" data-sponsor-type="lead">
                <div class="panel-heading">
                    <h3 class="panel-title">Exhibition</h3>
                    <div class="pricing">$7K</div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Event Entry Package <br>
                            <small>Compilmentary 5-day passes</small>
                            <span class="tickets center-block">1</span>
                        </li>
                        <li class="list-group-item">
                            Branding Package <br>
                            <small>
                                Company logo on event graphics and stage,
                                Connect website, General email and
                                Social Media promotions
                            </small>
                        </li>
                        <li class="list-group-item">
                            Communications Package <br>
                            <small>
                                One email blast to all registered
                                Linaro Connect attendees
                                One blog post on Linaro Connect website
                                One Slide on Daily Notices presentation
                            </small>
                        </li>
                        <li class="list-group-item disabled">
                            Video Package <br>
                            <small>
                                One 2 minute video - subject to
                                Event Team approval
                            </small>
                        </li>
                        <li class="list-group-item">
                            Exhibition Package <br>
                            <small>
                                One exhibition table throughout the week
                                including Demo Friday
                            </small>
                        </li>
                        <li class="list-group-item disabled disabled">
                            Additional Lead Sponsor benefit <br>
                            <small>
                                Early access to meeting room schedule
                                (one week before official schedule launch)
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-sponsor d-block d-sm-none" data-sponsor-type="lead">
                <div class="panel-heading">
                    <h3 class="panel-title">Lanyards</h3>
                    <div class="pricing">$6K</div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Event Entry Package <br>
                            <small>Compilmentary 5-day passes</small>
                            <span class="tickets center-block">1</span>
                        </li>
                        <li class="list-group-item">
                            Branding Package <br>
                            <small>
                                Company logo on event graphics and stage,
                                Connect website, General email and
                                Social Media promotions
                            </small>
                        </li>
                        <li class="list-group-item">
                            Communications Package <br>
                            <small>
                                One email blast to all registered
                                Linaro Connect attendees
                                One blog post on Linaro Connect website
                                One Slide on Daily Notices presentation
                            </small>
                        </li>
                        <li class="list-group-item disabled">
                            Video Package <br>
                            <small>
                                One 2 minute video - subject to
                                Event Team approval
                            </small>
                        </li>
                        <li class="list-group-item disabled">
                            Exhibition Package <br>
                            <small>
                                One exhibition table throughout the week
                                including Demo Friday
                            </small>
                        </li>
                        <li class="list-group-item disabled disabled">
                            Additional Lead Sponsor benefit <br>
                            <small>
                                Early access to meeting room schedule
                                (one week before official schedule launch)
                            </small>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
</div>
