---
layout: base
css_package: blog
---
{% assign author = page %}
<div class="jumbotron d-flex align-items-center jumbotron-fluid">
    <div class="container text-center">
        <div class="inner_content_wrapper">
            {% assign author_name = page.name %}
            {% capture author_image_alt %}{{author_name}} image{% endcapture %}
            {% if author.image %}
                {% assign author_image = author.image %}
            {% else %}
                {% assign author_image = site.avatar_placeholder %}
            {% endif %}
            <a href="{{author-url}}">
                {% picture author_thumbnail {{author_image}} --alt {{author_image_alt}} %}
            </a>
            <h1>{{page.name}}</h1>
            <div class="my-4 d-block lead">
            {% if author.twitter %}
                <a href="{{author.twitter}}">
                    <i class="icon-twitter"></i>
                </a>
            {% endif %}
            {% if author.github %}
                <a href="{{author.github}}">
                    <i class="icon-github"></i>
                </a>
            {% endif %}
            {% if author.linkedin %}
                <a href="{{author.linkedin}}">
                    <i class="icon-linkedin"></i>
                </a>
            {% endif %}
            {% if author.youtube %}
                <a href="{{author.youtube}}">
                    <i class="icon-youtube"></i>
                </a>
            {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main_content">
    <div class="row">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col col-12 col-lg-10 py-4  blog-content">
                    {% assign content_length = author.content | size %}
                    {% if content_length > 1 %}
                        <h3>About</h3>
                        {{author.content | markdownify }}
                        <hr/>
                    {% endif %}

                    {% include blog/authors_posts.html %}
                </div>
            </div>
        </div>
    </div>
</div>
