---
js-package: main
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div id="wrapper" class="main">
            {% include_cached nav.html pageUrl=page.url %}
            <div class="container-fluid">
                {{content}}
                {% include_cached github-edit.html pagePath=page.path pagePermalink=page.permalink %}
                {% include_cached footer.html %}
            </div>
        </div>
        {% include_cached javascript.html pageJS=page.js-package layoutJS=layout.js-package %}
    </body>
</html>
