---
js-package: extended
---
{% include _theme-includes/_head/head.html %}
<body>
        {% include _theme-includes/_navigation/nav.html %}
        {% include _theme-includes/_page-structure/breadcrumb.html %}
        <div class="container-fluid content-container">
            <div class="row">
                <div class="container no-padding-left">
                    <div class="col-md-3">
                    {% include _theme-includes/_navigation/stacked-nav.html %}
                    </div>
                    <div class="col-md-9">
                        {{ content }}
                    </div>
                </div>
            </div>
            {% include _theme-includes/_footer/footer.html %}
        </div>
        {% include _theme-includes/_script-includes/javascript.html %}
</body>
</html>
