---
layout: base
css-package: error
---
<div class="row" id="content-container">
    <div class="container">
        <div class="text-center">
            {% if page.image %}
                {% include image.html path=page.image.path %}
            {% elsif page.image.svg %}
                {% include {{page.image.svg}} %}
            {% endif %}
            {% if page.title %}
                <h1>
                    {{page.title}}
                </h1>
            {% endif %}
            {% if page.description %}
                <p>
                    {{page.description}}
                </p>
            {% endif %}
        </div>
    </div>
</div>
