---
layout: default
js-package: home
css-package: home
nav-light: true
home: true
---
{% if site.data.settings.home.jumbotron.enabled %}
    {% include jumbotron.html %}
{% endif %}

<div class="container-fluid" id="content-container">
    <div class="row {% if site.data.settings.home.content-image %}content-background-image-row{% endif %}">
        {% if site.data.settings.home.content-image %}
            <div class="content-background-image"     
            style="background-image: url({% asset_path '{{site.data.settings.home.content-image}}' %});"></div>
        {% endif %}
        <div class="container {% if site.data.settings.home.content-image %}content-background-image-container{% endif %}">
            {{ content }}
        </div>
    </div>
</div>

