---
layout: base
css_package: blog
---
<div
    class="jumbotron d-flex align-items-center jumbotron-fluid {% if page.image %}background_image{% endif%}">
    {% if page.image %}
        {% assign image_path = page.image | remove_first: "/assets/images/" %}
        {% picture header_image {{image_path}} %}
    {% endif %}
    <div class="container text-center">
        <div class="inner_content_wrapper">
            <h1 class="">{{page.title}}</h1>

            {% assign author-url = author.url %}
            {% assign author = site.authors | where: "username", page.author | first %}
            {% assign author_name = author.name %}
            {% capture author_image_alt %}{{author_name}} image{% endcapture %}
            <a href="{{author-url}}">
                {% picture author_thumbnail {{author.image_path | remove_first: "/assets/images/" }} --alt {{author_image_alt}} %}
            </a>
            <p class="lead">
                <em>{{author_name}}</em>
            </p>
            <hr class="my-4">
            <p>
                <em>{{page.date |  date: "%A, %B %-d, %Y"}}</em>
            </p>
            {% include blog/read_time.html %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col col-12 col-lg-10 py-4  blog-content">
                    <article>
                        {{ content }}
                        {% include blog/post_series.html %}
                    </article>
                    {% include blog/disqus_comments.html %}
                </div>
                <div class="col col-12 col-lg-10 py-4 blog-sidebar ">
                    {% include_cached blog/post_sidebar.html %}
                </div>
            </div>
        </div>
    </div>
</div>
